@import './global.scss';

$size: 150px;

.account-widget {
	position: absolute;
	z-index: 90;
	top: 0px;
	right: 0px;
	
	filter: drop-shadow(0px 0px 3px #0008);
	.account-widget-content {
		width: $size;
		height: $size;
		background-color: #fff;

		clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
		position: relative;

		.indicator {
			position: absolute;

			&.no-account {
				width: $size;
				height: $size;
				left: 0px;
				transform: rotate(45deg);
				line-height: $size * 0.61;
				font-family: LuckiestGuy, Roboto-Regular, Arial;
			}
			&:not(.no-account) {
				left: $size * 0.475;
				top: $size * 0.025;
				width: $size / 2;
				height: $size / 2;
				line-height: $size / 2;
			}
			
			color: #263238;
			cursor: pointer;
			&:hover {
				color: #e57373;
			}
			font-size: 30px;
			white-space: nowrap;

			button {
				font-family: inherit;
				box-shadow: none;
				border: none;
				font-size: inherit;
				color: inherit;
				font-weight: inherit;
				padding: 0px;
				background-color: transparent;
			}

			.avatar-circle {
				display: inline-block;
				width: $size/3;
				height: $size/3;
				
				border-radius: $size;
				overflow: hidden;
				&.empty { 
					background-color: #90A4AE;//#ef5350;
					box-shadow: 0px 2px 4px #0008;
					line-height: $size/3;
					img {
						width: $size/4;
						height: $size/4;
					}
				}

				&:not(.empty) {
					line-height: 0px;
					img {
						width: $size/3;
						height: $size/3;
					}
				}
				

				transition: transform 0.4s cubic-bezier(.36,.07,.19,.97);

				&:hover {
					&.empty {
						background-color: #B0BEC5;//#e57373;
					}
					&:not(.empty) {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}