@font-face {
    font-family: RobotoRegular;
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: LuckiestGuy;
    src: url('./LuckiestGuy-Regular.ttf');
}

.lucky-font {
	font-family: LuckiestGuy, Roboto-Regular, Arial;
}

.error {
	color: #e57373;
	font-weight: bold;
}

.success {
	color: #8BC34A;
	font-weight: bold;
}

.separator {
	display: inline-block;
	min-height: 20px;//$iconsSize;
	height: auto;
	align-self: stretch;
	width: 1px;
	background-color: #fff2;
	margin: 0px 6px;
}

/****** BUTTONS ******/
button.glossy, a.glossy {
	$size: 27px;

	height: $size;
	line-height: $size;

	background: #7f97a2;
	border: 1px solid #fff4;
	border-radius: 5px;
	font-weight: bold;
	padding: 0px 15px;
	&:not(.no-icon) {
		padding-right: 0px;
	}
	
	min-width: auto;
	color: #fff;
	
	box-sizing: content-box;
	box-shadow: 0px 3px 5px #0003;
	white-space: nowrap;

	cursor: pointer;

	&:hover {
		background: #4DB6AC;
		color: #fff !important;
	}

	&:not(.no-icon)::after {
		margin-left: 5px;
		float: right;
		vertical-align: middle;
		display: inline-block;
		height: $size;
		width: $size;
		
		content: '';
		box-sizing: border-box;
		
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80% 80%;

		transform: rotate(0deg)
	}

	&:disabled {
		cursor: auto;
		background: #aaa;
		border: 1px solid #bbb;
		color: #ddd;

		&::after {
			opacity: 0.5;
		}
	}

	&.settings::after 	{	background-image: url('./../img/icons/settings.svg'); 	}
	&.coin::after 		{	background-image: url('./../img/icons/coin.png'); 		}
	&.add::after 		{	background-image: url('./../img/icons/add.svg'); 		}
	&.close::after 		{	background-image: url('./../img/icons/close.svg'); 		}
}

/*********************/

.shaky-icon:hover {
	animation: shk-rot 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shk-rot {
	10%, 90% { transform: rotate(-2deg); }
	20%, 80% { transform: rotate(4deg); }
	30%, 50%, 70% { transform: rotate(-8deg); }
	40%, 60% { transform: rotate(8deg); }
}