.friends-section {
	.friends-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		
		& > * {
			padding: 5px;
			margin: 5px;
		}
	}
	
	.legend {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		
		& > * > span:first-child {
			font-size: 16px;
		}
		
		@media (max-width: 300px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: fit-content(100%) fit-content(100%);
		}
	}
	
	img {
		height: 20px;
		border-radius: 20px;
		margin-right: 5px;
	}
}