@import 'global.scss';

$chatHeight: 350px;
$leftWidth: 200px;
$rightWidth: 250px;

$togglerSize: 30px;

.game-stage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;

	display: block;
	pointer-events: none;

	.left-panel {
		user-select: none;

		position: absolute;
		left: 0px;
		top: 0px;

		display: inline-block;

		width: $leftWidth;
		max-width: 100vw;
		// background-color: #fff2;
		height: 100%;
		overflow: auto;

		padding: 0px 5px;

		& > section {
			margin-top: 10px;
			background-color: rgba( nth($palette, 2), 0.75);
			border: 1px solid #fff3;
			border-radius: 4px;

			font-size: 13px;
			font-weight: bold;
			text-align: left;

			padding: 5px;

			&.bars {
				padding: 0px;
				display: grid;
				grid-template-rows: 1fr 1fr 1fr;
				overflow: hidden;
			}

			& > .value-bar {
				padding: 5px 0px;
				&::before {//just little left padding for text
				   	content: "";
				    display: inline-block;
				    width: 5px;
				    height: 1px;
				    float: left;
				}

				transition: width 0.2s linear;
			}

			&.offline {
				opacity: 0.61;
				color: nth($palette, 1);
			}

			&.player-info {
				padding: 0px;
				overflow: hidden;

				& > .player-info-grid {
					display: grid;
					grid-template-areas: "nick points kills" "nick player deaths";
					grid-template-columns: auto fit-content(100%) fit-content(100%);
					grid-template-rows: fit-content(100%) fit-content(100%);
					grid-row-gap: 2px;
					justify-content: stretch;
					align-items: center;

					& > label {
						grid-area: nick;
						text-align: center;
						border-right: 1px solid #fff3;
						margin-right: 8px;
					    height: 30px;
					    line-height: 30px;
					}

					.points {
						grid-area: points;
						text-align: center;
					}

					& > .player {
						grid-area: player;
						height: 20px;
						line-height: 20px;
						padding-bottom: 3px;

						& > img {
							height: 100%;
							width: auto;
							transform: rotate(270deg);
						}

						& > span {
							display: inline-block;
							height: 4px;
							width: 10px;
						}
					}

					& > .kills {
						grid-area: kills;

						&::after {
							background: url('../img/icons/scope_icon.png') center no-repeat;
						}
					}

					& > .deaths {
						grid-area: deaths;
						&::after {
							background: url('../img/icons/skull_icon.png') center no-repeat;
						}
					}

					& > .kills, & > .deaths {
						padding: 0px 3px 0px 6px;
						// height: 18px;
						// line-height: 18px;
						display: grid;
						align-items: center;
						grid-template-columns: auto 16px;
						text-align: right;

						&::after {
							content: "";
							display: inline-block;
							height: 16px;
							width: 16px;
							margin: 0px 3px;
							background-size: cover;
						}
					}
				}

				& > .small-bars {
					text-align: left;
					& > * {
						height: 4px;
						display: block;
					}
				}
			}
		}

		.notifications-container {
			position: absolute;
			left: 0px;
			bottom: 0px;
			height: auto;
			overflow: hidden;
			width: $leftWidth;
			margin: 0px;
			font-weight: bold;
			// background-color: #f556;
			
			@keyframes slide-from-left {
				0% {
					opacity: 0;
					transform: translateX(-$leftWidth);
				}
				100% {
					opacity: 1;
					transform: translateX(0px);
				}
			} 

			@keyframes fade-out {
				0% {opacity: 1}
				100% {opacity: 0}
			}
			
			& > * {
				display: block;
				background-color: #4DB6ACA0;
				padding: 5px 10px;
				border: 1px solid #fff4;
				border-radius: 5px;
				margin: 5px;
				width: auto;
				box-sizing: border-box;

				animation: slide-from-left 0.5s cubic-bezier(.36,.07,.19,.97),
					fade-out 0.3s 4.7s ease-in-out forwards;
			}
		}
	}

	.right-panel, .chat-container {
		transition: transform 0.6s cubic-bezier(.36,.07,.19,.97);
	}

	.right-panel {
		pointer-events: auto;
		user-select: none;
		position: absolute;
		top: 0px;
		right: 0px;

		display: grid;
		grid-template-columns: auto;
		grid-template-rows: fit-content(100%) fit-content(100%) auto;
		align-items: stretch;
		justify-content: stretch;

		max-width: 100vw;
		width: $rightWidth;
		height: calc(100% - #{$chatHeight});//changed from 100vh to fix error on non-fullscreen mobile browsers
		min-height: 50vh;

		background-color: rgba( nth($palette, 8), 0.8);
		
		& > .options-bar {
			display: grid;
			grid-template-columns: 30px 30px auto 30px 30px;
			align-items: center;
			justify-content: stretch;
			justify-items: center;
		}

		& > .exit-btn {
			width: min-content;
    		margin-left: auto !important;
    		margin-right: auto !important;
		}
		
		.fullscreen {
			background-image: url('./../img/icons/fullscreen_open.svg');
		}
		
		.settings {
			background-image: url('./../img/icons/settings.svg');
		}
		
		.settings, .fullscreen {
			padding: 0px;
			background-color: transparent;
			box-shadow: none !important;
			width: 20px;
			height: 20px;
			
			opacity: 0.61;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}

		& > .list-stretcher > .users-list {
			height: -webkit-fill-available;
		}

		& > nav {
			display: grid;
			grid-template-columns: fit-content(100%) auto;
			align-items: center;
			justify-content: space-between;

			padding: 4px 5px;

			.slide-toggler {
				display: inline-block;
				width: $togglerSize;
				height: $togglerSize;
				padding: 0px;
				margin: auto;
				//background-color: #f44336;//ef5350
				border-radius: $togglerSize;

				box-shadow: 0px 1px 4px #0004;
				background-color: nth($palette, 6);

				transition: transform 0.6s 0.6s cubic-bezier(.36,.07,.19,.97);

				&:hover {
					background-color: nth($palette, 5);
				}

				&::after {
					content: "";
					display: block;
					width: $togglerSize;
					height: $togglerSize;

					background: url('../img/icons/arrow_left.svg') center no-repeat;
					background-size: 80%;

					transform: rotate(180deg);

					transition: transform 0.5s cubic-bezier(.87,-.41,.19,1.44);
				}
			}
		}

		&.hidden {
			transform: translateX($rightWidth);

			& > nav > .slide-toggler {
				transform: translateX( -($togglerSize + 10px) );//added padding

				&::after {
					transform: rotate(0deg);
				}
			}
		}
	}

	.chat-container {
		pointer-events: auto;
		position: absolute;
		bottom: 0px;
		right: 0px;

		width: $rightWidth;
		height: $chatHeight;
		max-height: 50vh;
		// background-color: #5af8;
		background-color: rgba( nth($palette, 8), 0.8);

		& > .chat-body {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			grid-template-areas: "main";
			width: 100%;

			position: absolute;
			top: 0px;
			bottom: 0px;

			& > .chat-toggler {
				position: absolute;
				top: 0px;
				right: 0px;
				z-index: 13;
				min-width: 60px;

				//border-bottom-left-radius: 10px;
				color: nth($palette, 1);
				border: 1px solid nth($palette, 5);
				background-color: nth($palette, 6);

				$colorTrans: 0.4s ease-in-out;
				transition: transform 0.6s 0.6s cubic-bezier(.36,.07,.19,.97), opacity 0.4s ease-in-out,
					background-color $colorTrans, border-color $colorTrans, color $colorTrans;

				opacity: 1;
				&.disabled {
					cursor: auto;
					opacity: 0;
				}
				
				&.notify {
					border-color: #e57373;
					background-color: #e57373;
					color: #fff;
				}
			}
		}

		&.hidden {
			transform: translateX($rightWidth);

			.chat-toggler {
				transform: translateX(-$rightWidth);
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.skillsbar-container {
		user-select: none;
		
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: auto;
		
		$btnSize: 30px;
		
		&.mobile {
			display: grid;
			grid-template-columns: $btnSize $btnSize auto $btnSize $btnSize;
			align-items: center;
			justify-content: center;
			grid-column-gap: 10px;
		}
		
		& > .controls-btn {
			display: none;
			padding: 0px;
			width: $btnSize;
			height: $btnSize;
			border-radius: 5px;
			
			background-color: rgba( nth($palette, 2), 0.75);
			border: 1px solid #fff3;
			box-shadow: none !important;
			
			pointer-events: auto;
			
			//background-image: url('../img/icons/arrow_down.svg');
			
			&:active {
				border-color: #8BC34A;
				background-color: rgba(#8BC34A, 0.4);
			}
		}
		
		&.mobile > .controls-btn {
			display: inline-block;
		}
	}
}