.layout-main {
	min-height: 100vh;

	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-columns: 100%;
	grid-template-rows: min-content auto min-content;

	.header {
		grid-area: header;
	}

	.footer {
		grid-area: footer;
	}

	.layout-content {
		grid-area: content;
	}
}