@import './global.scss';
@import './common.scss';
@import './scrollbars.scss';

//cubic-bezier(.36,.07,.19,.97)
//cubic-bezier(.87,-.41,.19,1.44)

* {
    font-family: RobotoRegular, Arial, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body, html, textarea, input, button {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
    vertical-align: middle;
    font-size: 13px;

    text-shadow: 0px 1px 1px #0003;
}

body, html {
    background-color: nth($palette, 6);
    color: #fff;
    text-align: center;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: nth($palette, 5);
}

textarea, input {
    border: 1px solid rgb(169, 169, 169);
    outline: none;
    padding: 2px 5px;
    color: #455a64;
    font-size: 13px;
    background-color: #fff;

    &.incorrect {
        background-color: #ffb8b8;
    }
}

textarea:focus, input:focus {
    border-color: #e57373;
}

a {
    text-decoration: none;
    outline: none;
}

a:not(.button-style) {
    color: inherit;
    cursor: pointer;

    &:hover {
        color: #80CBC4;
    }
}

button, a.button-style {
    outline: none;
    
    border: none;
    /*1px solid #CFD8DC;*/
    line-height: 100%;
    font-weight: bold;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    color: #455a64;
    box-shadow: 0px 1px 3px #0008;

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            color: #607D8B;
            box-shadow: 0px 2px 3px #0008;
        }

        &:active {
            color: #e57373;
            box-shadow: 0px 0px 3px #0008;
        }
    }

    &:disabled {
        background-color: #B0BEC5;
        box-shadow: none;
    }
}