@import 'global.scss';

$iconsSize: 20px;

.menu-stage {
	display: grid;
	height: 100vh;
	width: 100%;
	// overflow: hidden;
	grid-template-areas: 'header' 'panels';//'header header' 'aside main';
	grid-template-columns: auto;//fit-content(100%) auto;
	grid-template-rows: fit-content(100%) auto;
	// align-items: center;
	// 

	header {
		grid-area: header;
		background-color: nth($palette, 8);
		width: 100vw;

		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 350px) {
			grid-template-columns: 100%;
			grid-template-rows: auto fit-content(100%) auto;
		}

		& > :not(.notification) {
			padding: 4px 5px;
			white-space: nowrap;
		}

		.closer {
			background-image: url('../img/icons/close.svg');
		}

		.settings {
			padding: 0px;
			background-color: transparent;
			box-shadow: none !important;
			background-image: url('./../img/icons/settings.svg');
		}

		.shop {
			background-image: url('./../img/icons/coin.png');
		}

		.friends {
			background-image: url('./../img/icons/chat.svg');
		}

		.closer, .settings, .shop, .friends {//icon buttons
			width: $iconsSize;
			height: $iconsSize;
			background-color: transparent;
			box-shadow: none;
			display: inline-block;

			margin: 5px 0px;

			opacity: 0.61;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	& > section {
		grid-area: panels;

		display: grid;
		grid-template-areas: "aside room chat";
		grid-template-columns: fit-content(100%) auto fit-content(100%);
		grid-template-rows: auto;

		overflow: hidden;

		position: relative;//used for responsiveness

		.left-aside {
			grid-area: aside;

			height: 100%;
			width: auto;
			background-color: nth($palette, 8);
			align-self: stretch;
			justify-self: start;

			display: grid;
			grid-template-columns: auto;
			grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);

			h1 {
				font-size: 16px;
			}

			hr {
				background-color: #fff2;
				margin: 10px 0px;
			}

			.rooms-list-toggler {
				display: none;
			}

			.rooms-list-container {
				height: auto;
				overflow: auto;
			}

			.refresh-indicator {
				height: 1px;
				background-color: #fff2;
				width: 100%;
				margin-bottom: 15px;

				&::after {
					content: "";
					display: block;
					height: 1px;
					width: 100%;
					background-color: #fff;
				}

				&.indicate::after {
					animation: indicate-refresh 2s cubic-bezier(.36,.07,.19,.97) forwards;
				}
				&:not(.indicate)::after {
					opacity: 0;
				}

				@keyframes indicate-refresh {
					0% {
						opacity: 0;
						transform: scaleX(1);
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 1;
						transform: scaleX(0);
					}
				}
			}
		}

		main {
			grid-area: room;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: fit-content(100%);
			align-self: stretch;
			max-height: 100%;
			height: -moz-fit-content;
			height: -webkit-fill-available;
			width: auto;
			overflow: auto;
		}

		/*.side-chat-container {
			grid-area: chat;
			// display: inline-block;
			height: 100%;
			overflow: hidden;
		}*/

		//SECTION RESPONSIVENESS
		@media (max-width: 900px) {//at this point - aside panels should be hideable
			display: block;

			overflow: hidden;

			/*.left-aside, .side-chat-container {
				
			}*/

			.left-aside {
				position: absolute;
				top: 0px;

				left: 0px;
				right: auto;
				z-index: 10;
				box-shadow: 0px 0px 4px #0008;

				grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) auto;

				$togglerMargin: 5px;

				.info-header {
					display: none;
				}
				.rooms-list-toggler {
					&::after {
						content: "";
						display: inline-block;
						height: 27px;
						width: 27px;
						float: right;
						margin-left: 5px;
						transform: rotate(0deg);
						background-image: url('../img/icons/arrow_left.svg');
						transform-origin: center;
						vertical-align: middle;
					}
					&::before {
						content: "";
						display: inline-block;
						width: 20px;
					}
					padding: 0px;
					display: inline-block;
					margin: $togglerMargin;		
				}

				&, .rooms-list-toggler, .rooms-list-toggler::after {
					transition: transform 0.5s cubic-bezier(.36,.07,.19,.97);
				}

				&.hidden {
					transform: translateX(-100%);

					.rooms-list-toggler {
						transform: translateX(calc(100% + 10px));

						&::after {
							transform: rotate(180deg);// translateY(2px);
						}
					}
				}
			}

			/*.side-chat-container {
				z-index: 9;
				left: auto;
				right: 0px;
			}*/
		}
	}
}