@import 'global.scss';

$iconsSize: 20px;

.menu-stage {
	display: grid;
	height: 100vh;
	grid-template-areas: 'header header' 'aside main' 'footer footer';
	grid-template-columns: fit-content(100%) auto;
	grid-template-rows: fit-content(100%) auto fit-content(100%);
	align-items: center;

	header {
		grid-area: header;
		background-color: nth($palette, 8);

		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		justify-content: space-between;

		& > * {
			padding: 4px 5px;
		}

		.closer {
			background-image: url('../img/icons/close.svg');
		}

		.settings {
			background-image: url('./../img/icons/settings.svg');
		}

		.shop {
			background-image: url('./../img/icons/coin.png');
		}

		.closer, .settings, .shop {//icon buttons
			width: $iconsSize;
			height: $iconsSize;
			background-color: transparent;
			box-shadow: none;
			display: inline-block;

			opacity: 0.61;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	aside {
		grid-area: aside;

		height: 100%;
		background-color: nth($palette, 8);
		align-self: stretch;

		h1 {
			font-size: 16px;
		}
	}

	main {
		grid-area: main;
	}

	.separator {
		height: $iconsSize;
		width: 1px;
		display: inline-block;
		background-color: #fff2;
		margin: 0px 6px;
	}
}