.results-tab {
	img {
		max-height: 20px;
		margin: 0px 3px;
	}
	border-collapse: collapse;
	
	tr {//result row
		& > td, & > th {
			padding: 4px 2px !important;
			line-height: 28px;
		}
		& > th > img {
			margin: 0px;
		}
		
		& > td.player-nick {
			cursor: pointer;
			&:hover {
				color: #e57373;
			}
		}
	}
	
	&:not(.no-animation) > tbody > tr {
		opacity: 0;
		
		@keyframes come-from-the-heaven {
			0% {
				opacity: 0;
				transform: translateY(-50px);
			}
			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}
		
		animation: come-from-the-heaven 0.5s cubic-bezier(.36,.07,.19,.97) forwards;
		
		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				animation-delay: ($i - 1) * 0.1s;//0.5s can be added to be waiting for fade-in animation to finish
			}
		}
	}
}