@import 'global.scss';

.room-chat-main {
	grid-area: main;
	align-self: stretch;
	//background-color: #5f58;

	display: grid;
	grid-template-areas: "messages" "bottom";
	grid-template-columns: 100%;
	grid-template-rows: auto fit-content(100%);

	width: 100%;
	position: relative;

	.messages-container {
		grid-area: messages;
		overflow: auto;

		width: 100%;

		position: absolute;
		
		top: 0px;
		bottom: 0px;
		left: 0px;

		$headerSize: 26px;
		//$bodyW: $width - $headerSize - 10px;//10px - horizontal padding

		& > * {//single message
			padding: 5px 5px;

			display: grid;
			
			grid-template-columns: $headerSize calc(100% - #{$headerSize});
			justify-content: space-between;
			//grid-column-gap: 10px;

			&:not(:last-child) {
				border-bottom: 1px solid #fff1;
			}

			& > img {//avatar
				width: $headerSize;
				height: $headerSize;
				border-radius: $headerSize;
			}

			& > div {//message body
				display: block;

				& > label {//user's nick and message timestamp
					text-align: left;
					display: grid;
					grid-template-columns: auto auto;
					justify-content: space-between;
					justify-items: center;
					padding: 0px 0px;
					height: $headerSize;
					line-height: $headerSize;

					& > strong {
						font-weight: bold;
						font-size: 14px;
						padding: 0px 5px;
						// background-color: red;
					}

					& > span {//message time
						font-size: 12px;
						color: nth($palette, 4);
					}
				}
				& > div {//message content
					text-align: left;
					color: nth($palette, 1);
					word-wrap: break-word;
				}
			}
		}
	}

	.bottom {
		$size: 25px;
		$transFunc: 0.2s ease-in-out;

		grid-area: bottom;
		width: 100%;
		height: $size;

		display: flex;
		padding: 0px;
		border-collapse: collapse;
		// grid-template-columns: max-content fit-content(100%);
		justify-content: stretch;

		& > input {
			flex: 2;
			min-width: auto;
			max-width: 100% !important;
			height: $size;
			box-sizing: border-box;
			width: auto;
			// width: $width - $size * 2;

			background-color: nth($palette, 9);
			color: nth($palette, 1);
			// font-weight: bold;
			border-color: #0000;

			transition: border-color $transFunc;

			&::placeholder {
				color: nth($palette, 4) !important;
			}

			&:focus {
				border-color: #e57373;
			}
		}

		& > .send-btn {
			background-color: nth($palette, 9);
			
			box-shadow: none;
			border-radius: 0px;
			border: 1px solid #0000;

			height: $size;
			width: $size*2;
			padding: 0px;

			transition: border-color $transFunc, background-color $transFunc;

			&::after {
				content: "";
				display: block;
				background: url('../img/icons/send.svg') center no-repeat;
				background-size: auto 80%;
				height: 100%;
				width: 100%;
				opacity: 0.5;

				transition: opacity $transFunc;
			}

			&:hover {
				border-color: #e57373;
				background-color: nth($palette, 8);

				&::after {
					opacity: 1;
				}
			}
		}
	}
}