@import './global.scss';

$width: 250px;

.room-chat {
	width: $width;
	height: 100%;
	// overflow: hidden;
	background-color: nth($palette, 8);

	display: grid;
	grid-template-areas: "nav" "users" "main";
	grid-template-columns: auto;
	grid-template-rows: fit-content(100%) auto 1fr;
	align-items: center;

	@media (min-width: 901px) {
		animation: entry-slide 0.5s cubic-bezier(.36,.07,.19,.97);
		@keyframes entry-slide {
			0% {
				transform: translateX($width);
			}
			100% {
				transform: translateX(0px);
			}
		}
	}

	& > * {
		max-width: $width;
	}

	nav {
		grid-area: nav;
		text-align: right;
	}

	.rooms-chat-toggler {
		margin: 5px;
		display: none;
	}

	//at this point - room-chat panel should be hideable
	@media (max-width: 900px) {
		position: absolute;
		top: 0px;

		left: auto;
		right: 0px;
		z-index: 9;
		box-shadow: 0px 0px 4px #0008;

		& {
			transition: transform 0.5s cubic-bezier(.36,.07,.19,.97);
		}

		.rooms-chat-toggler {
			transition: transform 0.3s 0.5s cubic-bezier(.36,.07,.19,.97);
		}

		.rooms-chat-toggler {
			display: inline-block;
			transform: translateX(0px);
		}

		&.hidden {
			transform: translateX(100%);

			.rooms-chat-toggler {
				transform: translateX(-$width);
			}
		}
	}

	.users-list {
		grid-area: users;
		padding: 5px 0px;

		& > * {//single entry
			margin: 5px 0px;

			display: inline-grid;
			grid-template-areas: "separator userbtn kick";
			grid-template-columns: 1fr auto 1fr;
			grid-template-rows: auto;

			.user-btn {
				grid-area: userbtn;
			}
			
			.kick-btn {
				grid-area: kick;

				$size: 30px;
				$animFunc: 0.5s cubic-bezier(.36,.07,.19,.97);

				height: $size;
				width: $size;
				margin: 0px 5px;
				background-color: transparent;
				box-shadow: none;
				background-image: url('../img/icons/kick.svg');
				background-size: contain;

				opacity: 0.5;
				transition: opacity $animFunc;
				position: relative;

				&::before {
					content: attr(data-text);
					display: block;
					position: absolute;
					height: $size;
					line-height: $size;
					border-radius: $size;
					width: 100px;
					top: 0px;
					right: 0px;
					background-color: #FFCCBC;
					color: #ef5350;//#455a64;
					font-weight: bold;
					border: 1px solid #ef9a9a;
					
					opacity: 0;
					transform: translateX(100px);

					transition: opacity $animFunc, transform $animFunc;
				}

				&:hover {
					opacity: 1;

					&::before {
						opacity: 1;
						transform: translateX( -$size - 5px);
					}
				}
			}
		}
	}

	.room-chat-main {
		grid-area: main;

		display: grid;
		grid-template-areas: "messages" "bottom";
		grid-template-columns: $width;
		grid-template-rows: auto fit-content(100%);

		max-width: 100%;
		height: 100%;

		.messages-container {
			grid-area: messages;

		}

		.bottom {
			grid-area: bottom;
			max-width: 100%;

			display: inline-grid;
			grid-template-columns: fit-content(100%) auto fit-content(100%);
			justify-content: center;

			input {
				width: min-content !important;
				min-width: auto;
			}
		}
	}
}