@import './global.scss';

.rooms-list {
	// background-color: nth($palette, 9);
	// color: nth($palette, 1);

	width: 100%;
	border-collapse: collapse;

	tr {
		cursor: pointer;
		width: 100%;
		$animFunc: 0.3s ease-in-out;
		transition: box-shadow $animFunc, background-color $animFunc;
		&.current {
			background-color: #AED58140;
			box-shadow: 0px 0px 0px 1px #8BC34AC0 inset;
			box-sizing: border-box;
			margin: 0px -6px;
			cursor: auto;
		}

		&.to-remove {
			cursor: auto;
			opacity: 0.61;
			color: #B0BEC5 !important;
		}

		&:not(.current):not(.to-remove):hover {
			background-color: nth($palette, 7);
		}

		td {
			text-align: left;
			padding: 10px 5px;
		}
	}
}