.room-view {
	height: 100%;
	overflow: auto;

	@keyframes entry-slide-top {
		0% {
			opacity: 0;
			transform: translateY(-50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	& > * {
		opacity: 0;
		will-change: transform, opacity;
		animation: entry-slide-top 0.5s cubic-bezier(.36,.07,.19,.97) forwards;

		@for $i from 1 through 10 {
			&:nth-child( #{$i} ) {
				animation-delay: ($i - 1) * 0.05s;
			}
		}
	}

	nav {
		display: grid;
		grid-template-areas: 'edit name leave';
		grid-template-columns: 100px auto 100px;
		grid-template-rows: auto;
		align-items: center;
		justify-content: space-between;
		justify-items: center;

		padding: 15px 10px 0px 10px;

		.edit-btn {
			grid-area: edit;
		}

		.close {
			grid-area: leave;
		}

		label {
			grid-area: name;
			font-size: 18px;
			font-weight: bold;
			overflow: hidden;
			max-width: 100%;
		}

		@media (max-width: 1000px) {//get navigation elements closer
			grid-template-areas: 'name edit leave';
			grid-template-columns: auto 100px 100px;
			justify-content: center;
		}

		@media (max-width: 600px) {
			grid-template-areas: 'edit' 'name' 'leave';
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
			grid-row-gap: 10px;
		}
	}

	hr {
		background-color: #fff2;
		margin: 15px 0px;
	}

	.room-parameters {
		display: inline-grid;
		grid-template-areas: "map gamemode" "map duration";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		align-items: center;
		justify-content: center;
		text-align: center;

		@media (max-width: 450px) {
			grid-template-areas: "map" "gamemode" "duration";
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
			grid-row-gap: 10px;
		}
	}

	.info-bar {
		font-size: 15px;
		display: block;

		position: relative;
		overflow: hidden;

		&.pulsing {
			@keyframes pulse {
				0% {
					opacity: 1;
					transform: scaleX(0);
				}
				100% {
					opacity: 0;
					transform: scaleX(100);
				}
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0px;
				right: 0px;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				top: 0px;
				bottom: 0px;
				margin: auto;

				background-color: #fff8;

				animation: pulse 1s cubic-bezier(.36,.07,.19,.97) infinite;
			}
		}
	}

	.users {
		display: block;

		.actions {
			margin: 5px 0px;
			& > * {
				margin: 0px 5px;
			}
		}

		.sits-list {
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			& > * {
				margin: 5px 10px;
				// padding: 5px;

			    height: 27px;
			    line-height: 27px;
			    background: #7f97a2;
			    border: 1px solid #fff4;
			    border-radius: 5px;
			    font-weight: bold;

			    min-width: auto;
			    color: #fff;
			    box-sizing: content-box;
			    box-shadow: 0px 3px 5px #0003;
			    white-space: nowrap;
			    

				&.ready {
					background-color: #4DB6AC;
				}

				&.empty {
					background-color: #aaa;
					padding: 0px 15px;
				}

				&:not(.empty) {
					padding: 0px 7px 0px 10px;
					display: grid;
					grid-template-columns: auto fit-content(100%);
					grid-column-gap: 7px;
					align-items: center;
					justify-content: space-between;

					img {//ship type icon
						opacity: 0.3;
					}
				}

				img {
					height: 18px;
					width: auto;
				}
			}
		}
	}

	.gamemode {
		grid-area: gamemode;
		display: block;
		font-size: 18px;
		font-weight: bold;
	}

	.duration {
		grid-area: duration;
		display: block;
	}

	.settings-grid {
		padding-top: 10px;

		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		align-items: center;
		grid-row-gap: 5px;
		grid-column-gap: 10px;

		& > *:nth-child(odd) {
			justify-self: end;
			font-weight: bold;
		}
		& > *:nth-child(even) {
			justify-self: start;
		}

		@media (max-width: 450px) {
			padding-top: 40px;
			grid-template-columns: auto;

			& > * {
				justify-self: center !important;
			}
			& > label {
				margin-top: 10px;
			}
		}
	}

	input {
		border-radius: 5px;
		padding: 5px;
	}

	.map_preview {
		grid-area: map;
		display: inline-block;
		padding: 8px 10px;
		margin: 10px 10px;
		height: auto;

		background: #7f97a2;

	    border: 2px solid #fff4;
	    border-radius: 5px;

	    box-sizing: border-box;
		box-shadow: 0px 3px 5px #0003;

		user-select: none;

		&.selected {
			border: 2px solid #8BC34A;
			background: #6f9861;
			box-shadow: none;
		}

		&:not(.selected):not(.static-preview):hover {
			cursor: pointer;
			background: #95a8b2;
		}

		label {
			display: block;
			padding: 0px 0px;
			margin-bottom: 8px;
			text-align: center;
		}

		img, canvas {
			height: 150px;
			display: block;
			border-radius: 5px;
		}
	}

	.clock_chart {
		grid-area: time;

		display: inline-block;
		box-shadow: 0px 3px 5px #0003;
		user-select: none;
		border-radius: 100%;

		svg {
			transform: rotate(-90deg);
			background: #7f97a2;
			border-radius: 50%;
			border: 1px solid #fff5;
		}

		circle.centered {
			fill: #7f97a2;
			stroke: #fff5;
			stroke-width: 1;
		}

		circle:not(.centered) {
			fill: #7f97a2;
			stroke: #fff5;/*#ef5350;*/
			stroke-width: 50;/*50*/
			//stroke-dasharray: 0 158; /* 2π × 25 ≈ 158 */
		}

		text {
			transform: rotate(90deg);
			transform-origin: 50% 50%;
			font-size: 15px;
			font-weight: bold;
			color: #fff;
			fill: #fff;
		}
	}
}