.shop-section {
	$moneySize: 60px;
	
	& > .shop-section-title {
		display: grid;
		grid-template-columns: $moneySize auto $moneySize;
		align-items: center;
		justify-content: space-between;
		padding: 0px 15px;
		margin: 0px;
		
		& > .money-icon {
			width: $moneySize;
			height: $moneySize;
			
			background-image: url('../img/icons/money.png');
		}
	}
	
	.ship-element, .skill-element {
		display: inline-block;
		margin: 0px 5px;
	}
	
	.ship-element {
		min-width: 70px;
	}
}