@import 'global.scss';

.social-chat {
	$bottomSize: 26px;
	$transFunc: 0.2s ease-in-out;
	
	max-height: 100vh;
	
	border-top: 1px solid #B0BEC5;
	
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto $bottomSize;
	
	.messages {
		max-height: 100%;
		overflow-y: auto;
		//border-bottom: 1px solid #B0BEC5;
		
		$headerSize: 26px;//author's header height
		
		& > * {//single message
			padding: 5px 5px;

			display: grid;
			
			grid-template-columns: $headerSize calc(100% - #{$headerSize});
			justify-content: space-between;
			//grid-column-gap: 10px;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(nth($palette, 1), 0.75);
			}

			& > img {//avatar
				width: $headerSize;
				height: $headerSize;
				border-radius: $headerSize;
			}

			& > div {//message body
				display: block;

				& > label {//user's nick and message timestamp
					text-align: left;
					display: grid;
					grid-template-columns: auto auto;
					justify-content: space-between;
					justify-items: center;
					padding: 0px 0px;
					height: $headerSize;
					line-height: $headerSize;

					& > strong {
						font-weight: bold;
						font-size: 14px;
						padding: 0px 5px;
						// background-color: red;
					}

					& > span {//message time
						font-size: 12px;
						color: nth($palette, 4);
					}
				}
				& > div {//message content
					text-align: left;
					//color: nth($palette, 1);
					word-wrap: break-word;
				}
			}
		}
	}
	
	.bottom {
		height: $bottomSize;
		
		display: flex;
		padding: 0px;
		border-collapse: collapse;
		justify-content: stretch;
		
		& > * {
			line-height: $bottomSize;
			border-radius: 0px;
			border: none;
			border-top: 1px solid nth($palette, 3);
			height: $bottomSize;
		}
		
		& > input {
			flex: 2;
			
			&:focus {
				border-color: #e57373;
			}
		}
		
		& > input:focus + button {
			border-color: #e57373;
		}
		
		& > button {//send button
			//height: $bottomSize;
			width: $bottomSize*2;
			box-shadow: none !important;
			//transition: border-color $transFunc;
			padding: 0px;
			
			&::after {
				content: "";
				display: block;
				background: url('../img/icons/send_dark.svg') center no-repeat;
				background-size: auto 80%;
				height: 100%;
				width: 100%;
				opacity: 0.5;

				transition: opacity $transFunc;
			}

			&:hover {
				//border-color: #e57373;

				&::after {
					opacity: 1;
				}
			}
		}
	}
}