.users-list {
	grid-area: users;
	align-self: stretch;
	//background-color: #f558;
	padding: 5px 0px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100%;
	
	border-bottom: 1px solid #fff2;

	& > * {//single entry
		margin: 5px 0px;

		display: inline-grid;
		grid-template-areas: "separator userbtn kick";
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: auto;

		.user-btn {
			grid-area: userbtn;
		}
		
		.kick-btn {
			grid-area: kick;

			$size: 30px;
			$animFunc: 0.5s cubic-bezier(.36,.07,.19,.97);

			height: $size;
			width: $size;
			margin: 0px 5px;
			background-color: transparent;
			box-shadow: none !important;
			background-image: url('../img/icons/kick.svg');
			background-size: contain;

			opacity: 0.5;
			transition: opacity $animFunc;
			position: relative;

			&::before {
				content: attr(data-text);
				display: block;
				position: absolute;
				height: $size;
				line-height: $size;
				border-radius: $size;
				width: 100px;
				top: 0px;
				right: 0px;
				background-color: #fff;//#FFCCBC;
				color: #ef5350;//#455a64;
				font-weight: bold;
				border: 1px solid #ef9a9a;
				
				opacity: 0;
				transform: translateX(100px);

				transition: opacity $animFunc, transform $animFunc;
			}

			&:hover {
				opacity: 1;

				&::before {
					opacity: 1;
					transform: translateX( -$size - 5px);
				}
			}
		}
	}
}