.opacity_and_rot_transition, .opacity_and_rot_transition::after {
	-webkit-transition: transform 500ms cubic-bezier(0.680, 0, 0.265, 1), 
		opacity 300ms ease-in-out;
	-webkit-transition: transform 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550), 
		opacity 300ms ease-in-out; 
   	-moz-transition: transform 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550), 
   		opacity 300ms ease-in-out; 
 	-o-transition: transform 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550), 
 		opacity 300ms ease-in-out;
    transition: transform 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550), 
    	opacity 300ms ease-in-out;
}

.zoom_in {
	/*transform: scale(0.2);*/
	animation: zoom_in 0.5s ease-in-out both;
}

@keyframes zoom_in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.fade_out {
	transition: transform 1000ms ease-in-out;
	transform: translate(0px, -200px);
}

/* ICON BUTTON (from img element) */

.icon_btn {
	height: 100%;
	width: auto;
	opacity: 0.5;
	cursor: pointer;

	transition: opacity 0.2s ease-in-out;
}

.icon_btn:hover {
	opacity: 1;
	transform: rotate(0deg);
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* ICONIC BUTTON (button element) */
.iconic_button, .iconic_button:hover {
	background: #7f97a2;/*#fff3;*/
	border: 1px solid #fff4;
	padding: 0px 15px;
	padding-right: 0px;
	/*width: auto;*/
	min-width: auto;
	color: #fff;
	line-height: 30px;
	box-sizing: border-box;
	box-shadow: 0px 3px 5px #0003;
	/*white-space: nowrap;*/
	white-space: pre-line;
}
.iconic_button:disabled {
	cursor: auto;
	background: #aaa;
	border: 1px solid #bbb;
	color: #ddd;
}
.iconic_button::after {
	margin-left: 10px;
	float: right;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	content: '';
	box-sizing: border-box;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 80%;

	transform: rotate(0deg)
}
.iconic_button:disabled::after {
	opacity: 0.5;
}

.iconic_button:hover:not([disabled]):not(.iconic_blue) {
	background: #95a8b2;
	border: 1px solid #fff;
	box-shadow: 0px 3px 8px #0004;
}
.iconic_button:hover:not([disabled])::after {
	transform: rotate(0deg);
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.red_button {
	background: #ef5350;
}

.red_button:hover:not([disabled]):not(.iconic_blue) {
	background: #e57373;
}

.iconic_blue {
	background: #03A9F4;
}

.iconic_blue:hover {
	background-color: #29B6F6;
}

.iconic_empty::after {
	width: 5px;
}

.iconic_settings::after {
	background-image: url('../img/icons/settings.png');
}

.iconic_close::after {
	background-image: url('../img/icons/close.png');
}

.iconic_add::after {
	background-image: url('../img/icons/add.png');
}

.iconic_chat::after {
	background-image: url('../img/icons/chat_icon.svg');
}

.iconic_coin::after {
	background-image: url('../img/icons/coin.png');
}

.iconic_fullscreen::after {
	background-image: url('../img/icons/fullscreen_open.svg');
}

@keyframes shake {
	10%, 90% {
		transform: rotate(-2deg);
	}

	20%, 80% {
		transform: rotate(4deg);
	}

	30%, 50%, 70% {
		transform: rotate(-8deg);
	}

	40%, 60% {
		transform: rotate(8deg);
	}
}

/* SWITCHER BUTTON */
.switcher {
	display: inline-block;
	box-sizing:  border-box;
	min-width: auto;
	width: 34px;
	height: 14px;

	border-radius: 20px;
	border: none;

	background-color: #AEAEAE;
	
	padding: 0px;
	margin: 10px;
	line-height: 0px;
	cursor: pointer;

	transition: background 500ms ease-in-out;
}

.switcher.on, .switcher.on:hover {
	background-color: #A5D6A7;
}

.switcher:hover {
	background-color: #AEAEAE;
}

.switcher:not(.on):hover::before {
	background-color: #c7dcca;
}

.switcher.on:hover::before {
	background-color: #81C784;
}

.switcher::before {
	content: ' ';
	display: inline-block;
	background-color: #fff;
	box-shadow: 0px 1px 8px #0008;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	/*margin-top: -2.5px;*/
	transform: translate(-10px, -3px);
	border-radius: 100%;
	/*float: left;*/

	transition: background 500ms ease-in-out, 
		transform 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.switcher.on::before {
	background-color: #66BB6A;
	transform: translate(10px, -3px);
}

/* NUMBER INPUT */

.number_input {
	display: inline-block;
	text-align: center;
	/*line-height: 24px;*/

	margin: 10px;

	border: 1px solid #fff4;
	border-radius: 24px;

	min-width: 72px;
	height: 26px;/*additional 2 pixels for border*/

	box-sizing: border-box;
    box-shadow: 0px 3px 5px #0003;

	background: #7f97a2;

	color: #fff;
	/*background-color: blue;*/
}

.number_input > * {
	display: inline-block;
	height: 100%;
	line-height: 24px;
	font-family: RobotoRegular, Asap, Calibri, Helvetica;
}

.number_input > .decrementer, .number_input > .incrementer {
	width: 24px;
	border-radius: 24px;
	cursor: pointer;
	user-select: none;
	color: #fff8;
}

.number_input > :not(.value_displayer):hover {
	color: #fff;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.number_input > :not(.value_displayer):active {
	background-color: #fff5;
}

.number_input > .decrementer {

}

.number_input > .incrementer {

}

.number_input > .value_displayer {
	/*background-color: lime;*/
	/*width: 50px;*/
	min-width: 24px;
	padding: 0px 5px;
	text-align: center;
}

/* TEXT INPUT */
.text_input {
	display: inline-block;
	background: #7f97a2;
	border: none;

	margin: 10px;
	padding: 5px 12px;

	height: 24px;

	box-sizing: border-box;
    box-shadow: 0px 3px 5px #0003;

    border: 1px solid #fff4;
    border-radius: 24px;

    color: #fff;
    outline: none;
}

.text_input:focus {
	border: 1px solid #fff8;
}

/* OPTIONS LIST */
.options_list {
	display: inline-block;
	box-shadow: 0px 1px 8px #000a;

	border-radius: 15px;
}

.options_list > button {
	display: inline-block;
	width: auto;
	min-width: auto;
	height: 30px;
	padding: 5px 15px;
	/*padding: 0px;*/
	border: none;
	border-radius: 0px;
	background: #009688;

	position: relative;

	transition: background 0.5s cubic-bezier(.36,.07,.19,.97);

	overflow: hidden;
}

.options_list > button:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.options_list > button:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.options_list > button.selected {
	background: #4DB6AC;
}

.options_list > button:not(:last-child) {
	border-right: 1px solid #4DB6AC;
}

.options_list > button:not(.selected):hover {
	background-color: #26A69A;
}

.options_list > button::before, .options_list > button::after {
	content: "";
	display: block;

	box-sizing: border-box;

	width: 0px;
	height: 2px;
	
	position: absolute;
	
	left: 0px;
	right: 0px;
	margin: auto;
	background-color: #009688;

	transition: width 0.66s cubic-bezier(.36,.07,.19,.97);
}

.options_list > button::after {
	bottom: 0px;
}

.options_list > button::before {
	top: 0px;
}

.options_list > button.selected::after, .options_list > button.selected::before {
	width: 100%
}

/* DESCRIPTION */

.description {/*popup description following mouse cursor*/
	position: fixed;
	background-color: #546E7Ad0;
	color: #fff;

	max-width: 300px;
	
	/*box-shadow: 0px 1px 5px #0005;*/
	border: 1px solid #0004;
	padding: 5px;
	border-radius: 10px;
	left: 0px;
	top: 0px;
	display: inline-block;
}

.description, .description * {
	font-size: 14px;
}

.description hr {
	margin: 6px 0px;
}

/* HELP MARK */
.help_mark::after {
	padding: 0px 5px;
	margin: 0px 5px;
	content: "?";
	display: inline-block;
	width: 14px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	/*background-color: red;*/
	color: #fff;
	background-color: #90A4AE;
	border-radius: 20px;
}

html:-moz-full-screen .hide_in_fullscreen {
  	display: none;
}

html:-webkit-full-screen .hide_in_fullscreen {
  	display: none;
}

html:-fullscreen .hide_in_fullscreen {
  	display: none;
}