main.forum_main {
	align-self: stretch;
	justify-self: stretch;
	height: auto;

	display: grid;
	grid-template-areas: 
		"categories top top"
		"categories compact_list content";
	grid-template-columns: fit-content(100%) fit-content(100%) auto;
	grid-template-rows: 55px auto;
	grid-gap: 0px;
}

main.forum_main a {
	text-decoration: none;
	color: inherit;
}

main.forum_main nav {
	grid-area: categories;
	background-color: #0005;
	box-shadow: 0px 10px 15px #0005;
	min-width: 220px;
}

main.forum_main nav * {
	color: #fff;
}

main.forum_main nav > h1 {
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	margin: 0px;

	padding-bottom: 0px;
	/*background: #40535d;*/
}

main.forum_main nav > a {
	display: block;

	padding: 15px;

	box-sizing: border-box;
	
}

main.forum_main nav > a:not(:last-child) {
	border-bottom: 1px solid #fff2;
}

main.forum_main nav > a.current {
	border-right: 4px solid #9CCC65;
	margin-left: 4px;
}

main.forum_main nav > a:hover {
	background-color: #00BCD430;
}

main.forum_main aside {
	grid-area: compact_list;
	background-color: #0003;
	/*width: fit-content;*/
	width: min-content;
	min-width: 100px;
	border-right: 1px solid #0002;
	
	box-sizing: border-box;
}

main.forum_main aside ul li {
	padding: 10px 15px;
	
	min-width: 200px;
	text-align: left;
}

main.forum_main aside ul li.current {
	/*border-right: 4px solid #00BCD4;*/
	background-color: #6e899660;
	/*margin-right: 0px;*/
}

main.forum_main aside ul li:not(.current):hover {
	cursor: pointer;
	background-color: #00BCD430;
}

main.forum_main aside ul li:not(:last-child) {
	border-bottom: 1px solid #fff2;
}

main.forum_main #forum_top_panel {
	line-height: 50px;
	background-color: #0003;
}

main.forum_main #forum_top_panel {
	grid-area: top;
	text-align: left;

	padding: 0px 10px;
	border-bottom: 1px solid #fff4;
}

/*************************************/
main.forum_main table.threads_list {
	display: table;
	width: 100%;
	/*background: #b0bec540;*/
	/*display: inline-block;*/
	
	/*border-radius: 8px;*/
	/*border: 1px solid #fff3;*/
	/*box-shadow: 0px 1px 5px #0003;*/
}

main.forum_main table.threads_list tr {
	background: none;
}

main.forum_main table.threads_list tr th {
	background: none;
	font-weight: bold;
	padding: 20px 0px;
}

main.forum_main table.threads_list tr td {
	padding: 10px 1px;
}

main.forum_main table.threads_list tr td:first-child {
	padding-left: 10px;
	text-align: left;
	width: 50%;
	white-space: nowrap;
	overflow-x: auto;
}

main.forum_main table.threads_list tr:first-child {
	background-color: #26323820;
}

main.forum_main table.threads_list tr:not(:first-child):not(:last-child) {
	border-bottom: 1px solid #ffffff25;
}

main.forum_main table.threads_list tr:not(:first-child):hover {
	background-color: #00BCD430;
	cursor: pointer;
}

main.forum_main table.threads_list tr:nth-child(even) {
	background-color: none;
}
/*
main.forum_main table.threads_list tr td {
	background: #607D8B30;
	max-width: 500px;
}

main.forum_main table.threads_list tr th:first-child {
	
}

main.forum_main table.threads_list tr:not(:first-child):hover {
	cursor: pointer;
	background-color: #00968880;
}

main.forum_main table.threads_list tr:not(:first-child):active {
	background-color: #4DB6AC80;
}

main.forum_main table.threads_list tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}

main.forum_main table.threads_list tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}*/

main.forum_main article {
	grid-area: content;
	padding: 0px 0px;

	scroll-behavior: smooth;

	display: grid;
	/*grid-auto-columns: minmax(50%, auto);*/
	grid-auto-columns: 100%;
	grid-auto-rows: auto;
	align-content: start;
	justify-content: center;

    max-height: calc(100vh - 55px - 50px - 1px);
    overflow-y: auto;
}

main.forum_main article > * {
	background-color: #0003;
}

main.forum_main article > h1 {/*post subjet*/
	margin: 0px;
	padding: 10px 0px;
	font-size: 27px;
	/*background-color: #0005;*/
}

main.forum_main article textarea {
	height: 150px;
}

main.forum_main article textarea, #subject_input {
	margin: 20px;
	background: #fff3;
	padding: 10px;
	outline: none;
	
	color: #fff;

	font-family: RobotoLight, RobotoRegular, Asap;
    font-size: 15px;
    border: 1px solid #fff5;
    resize: vertical;
}

main.forum_main article textarea:focus {
	border: 1px solid #009688;
}

main.forum_main article textarea::placeholder, #subject_input::placeholder {
	color: #96a4aa;
	font-weight: bold;
}

button.answer_btn {
	margin-bottom: 20px;
	margin-left: 20px;
	float: left;
}

main.forum_main section {
	display: block;
	
	margin: 0px;
}

main.forum_main section:not(:last-child) {
	border-bottom: 1px solid #0006;
}

main.forum_main section > * {
	display: block;
	padding: 10px;
}

main.forum_main section .post_header {
	background-color: #26323820;
	/*border-bottom: 1px solid #fff2;*/
	text-align: left;
}

main.forum_main section .post_header > a:hover {/*link to user's page*/
	cursor: pointer;
	color: #ef9a9a;
}

main.forum_main section .content {
	text-align: left;
	
	word-wrap: break-word;
    word-break: break-all;
    
    max-height: 400px;
    overflow-y: auto;

    padding-left: 30px;
    padding-bottom: 30px;

    font-family: RobotoLight, RobotoRegular, Asap;
    font-size: 15px;
}

#forum_error {/*FIX*/
	display: inline-block;
	width: 0px;
    white-space: nowrap;
    color: #e57373;
}

#subject_input {
    margin-bottom: 0px;
    display: block;
    width: -webkit-fill-available;
    font-weight: bold;
}