@import "common.css";
@import "popup.css";
@import "chat.css";
@import "rooms_list.css";
@import "rooms_view.css";
@import "scrollbar.css";
@import "game_gui.css";
@import "game_gui_mobile.css";
@import "mobile.css";

html, body {
	overflow: hidden;
	/*display: block;*/
	width: 100vw;
	height: 100vh;
	text-shadow: 0px 1px 5px #0003;/*TODO - restrict to some elements/classes*/

	display: grid;
	grid-template-areas: "rooms_list content_body";
	grid-template-columns: fit-content(100%) auto;
	grid-template-rows: 100%;
}

span {
	display: inline-block;
}

.close_btn {
	width: 50px;
	height: 50px;
	background: url('../img/icons/close.png') center no-repeat;
	background-size: 50% 50%;
	cursor: pointer;
	opacity: 0.6;
}
.close_btn:hover {
	opacity: 1;
	transform: rotate(90deg);
}
.close_btn:active {
	transform: scale(1.3) rotate(90deg);
}

.lobby_stage {
	display: table;
	width: 100%;
	height: 100%;
	grid-area: content_body;
}

.lobby_stage .header {
	width: 100%;
	background-color: #0005;
	box-shadow: 3px 3px 5px #0003;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: right;
}

.lobby_stage .header * {
	text-align: initial;
	display: inline-block;
}

.lobby_stage > * {
	display: table-row;
}

.lobby_stage .header {
	padding: inherit;
  	height: 50px;
}

.lobby_stage .content {
	height: 100%;
	display: table-row;
}

.lobby_stage .content .content_center {
	display: table-cell;
	padding: 0px;
	vertical-align: top;
	text-align: center;
}

.lobby_stage .content .chat {
	/*display: table-cell;*/
	/*vertical-align: bottom;*/
}

.account_short_info:not(.disabled):hover {
	background-color: #00c4ff20;
	cursor: pointer;
}

.header_notifications {
	color: #80CBC4;
	display: inline-block;
	padding: 0px 20px;
    border-right: 1px solid rgb(85, 108, 120);
    /*height: 100%;*/
    height: 50px;
}

.header_notifications > span {/*individual notification*/
	opacity: 1;
	animation: 	fade_in 1s cubic-bezier(0.680, -0.550, 0.265, 1.550), 
				fade_out 1s 5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@keyframes fade_in {
	0% {
		opacity: 0;
		transform: translate(0px, -50px);
	}

	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fade_out {
	0% {
		opacity: 1;
		transform: translate(0px, 0px);
	}

	100% {
		opacity: 0;
		transform: translate(0px, 50px);
	}
}

/* GAME RESULTS */
.game_result_table_container {
	width: 100%;
	height: 100%;

	text-align: center;
}

.game_result_table {
	display: inline-block;
	margin: auto;

	background-color: #78909ca0;
	border-radius: 10px;

	box-shadow: 0px 2px 6px #0003;
}

.game_result_table > h6 {/*title*/
	padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #26323840;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.game_result_table > .result_body {

}

.game_result_table table.result_table {

}

.game_result_table table.result_table tr th {
	background-color: #26323840;
	/*font-weight: bold;*/
}

.game_result_table table.result_table tr td {
	background-color: transparent;
	animation: pop_in 1s ease-in-out;
}

.game_result_table table.result_table tr td:nth-child(1) { animation-duration: 0.5s; }
.game_result_table table.result_table tr td:nth-child(2) { animation-duration: 0.75s; }
.game_result_table table.result_table tr td:nth-child(3) { animation-duration: 1.0s; }
.game_result_table table.result_table tr td:nth-child(4) { animation-duration: 1.25s; }
.game_result_table table.result_table tr td:nth-child(5) { animation-duration: 1.5s; }
.game_result_table table.result_table tr td:nth-child(6) { animation-duration: 1.75s; }
.game_result_table table.result_table tr td:nth-child(7) { animation-duration: 2.0s; }

.game_result_table table.result_table tr:nth-child(even) {
	background-color: #fff1;
}

@keyframes pop_in {
	0% {
		transform: translate(-50px, 0px);
		opacity: 0;
	}

	100% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.game_result_table .bottom_panel {
	padding: 10px 0px;
}

/*////////////////////////////////////////////*/

.users_list {
	/*display: table;*/
	/*width: 100%;*/
	display: grid;
	/*grid-template-areas: */
		/*"nick nick rank more"*/
		/*"friend kick chat close";*/
	grid-template-columns: auto auto 25px;
	grid-template-rows: auto fit-content(100%);
	align-items: stretch;/*center*/
    line-height: 25px;
	justify-content: stretch;
    justify-items: stretch;
}

.users_list > * {/*individual user entry*/
	text-align: left;
	margin: 3px 0px;
	height: 34px;
    line-height: 34px;
    align-self: center;
}

.users_list > *:not(img) {
	padding: 0px 5px;
}

.users_list > *:nth-child(1), .users_list > *:nth-child(2), .users_list > *:nth-child(3) {
	background-color: #02ffdc22;
}

.users_list > .hidden {
	display: none;
}

.users_list .nickname { 
	grid-column: 1;
}
.users_list > .rank {
	grid-column: 2;
}
.users_list > .more {
	grid-column: 3;
}

.users_list > .options {
	grid-column: 1 / 3 span;
	background: #fff2;
	text-align: left;
	height: auto;
	width: 100%;
	/*max-width: 200px;*/
}

.users_list > .options > * {
	display: inline-block;
	margin: 3px 4px;
}

.users_list img {
	padding: 6px 0px;
    /*height: 25px;*/
    width: 25px;
}

.canvas_rederer_walls > * {
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
}