.game_gui_left, .game_gui_right {
	position: fixed;
}

.game_gui_left {/*left side of a game GUI*/
	left: 0px;
	top: 0px;
}

.game_gui_right {/*right side of a game GUI*/
	right: 0px;
	top: 0px;
	height: 100vh;
	min-height: 100px;/*temp*/
	/*border-bottom-left-radius: 18px;*/
	background-color: transparent;

	display: inline-grid;
	grid-template-areas:
		"header"
		"buttons"
		"users"
		"chat";
	grid-template-columns: auto;
  	grid-template-rows: 50px 50px auto fit-content(100%);
}

.game_gui_right > .chat {
	grid-area: chat;
}

/***** HEADER *****/

.game_gui_right > .header {
	grid-area: header;

	background-color: #37474f;
	line-height: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	/*text-align: left;*/
}

.game_gui_right > .header, .game_gui_right > .users_list_container, .game_gui_right > .panel_buttons {
	transform: translate(0px, 0px);
	transition: transform 610ms cubic-bezier(.36,.07,.19,.97);
}

.game_gui_right.folded > .header, .game_gui_right.folded > .users_list_container, 
.game_gui_right.folded > .panel_buttons {
	/*background-color: red;*/
	/*margin-right: -240px;*/
	transform: translate(100%, 0px);
}

.game_gui_right > .header > img {
	display: inline-block;
	height: 36px;
	margin: 7px 3px;
	margin-right: 0px;
	padding: 3px;
	float: left;
	user-select: none;
}

.panel_slide_btn {
	display: inline-block;
	position: fixed;
	right: 0px;
	top: 0px;
	
	min-width: auto;
	width: 50px;
	height: 50px;

	padding: 0px;
	user-select: none;

	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	background-color: #37474f;
	/*background-color: green;*/
}

.panel_slide_btn::after {
	content: " ";
	display: inline-block;
	width: 40px;
	height: 40px;
	user-select: none;

	margin: 5px;

	box-shadow: 0px 0px 4px #0005;

	background: url('../img/icons/arrow.png') center no-repeat;
	background-color: #f44336;
	background-size: 60%;
	transform: rotate(270deg);

	border-radius: 40px;
}

.folded .panel_slide_btn::after {
	transform: rotate(90deg);
}

.panel_slide_btn:hover {
	background-color: #37474f;
}

.panel_slide_btn:hover::after {
	background-color: #ef5350;
}

/***********************/

.game_gui_right > .users_list_container {
	display: inline-block;
	background-color: #455A6480;

	grid-area: users;

	max-height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 10px;
}

.game_gui_right > .panel_buttons {
	grid-area: buttons;
	padding: 8px 0px;
	background-color: #37474f;
	/*border-top: 1px solid #37474F50;*/
}

.game_gui_left {
	text-align: center;
	/*background: #fff1;*/
	background: transparent;
	padding: 0px;

	/*height: auto;*/
	/*max-height: 100vh;*/
	height: 100vh;
	/*overflow-y: auto;*/
	overflow: hidden;
	/*overflow-x: hidden;*/

	display: grid;
	grid-template-areas:
		"entries"
		"notifications";

	grid-template-columns: auto;
	grid-template-rows: auto fit-content(100%);
}

.game_gui_left .entries {
	grid-area: entries;

	overflow-y: auto;
	overflow-x: hidden;
}

.game_gui_left .notifications {
	grid-area: notifications;
	max-height: 300px;
	overflow: visible;
}

.game_gui_left .entries > .entry {
	margin: 10px;
	padding: 0px;
	
	display: block;
	border: 1px solid #fff4;
	border-radius: 5px;

	box-sizing: border-box;

	/*background: #fff3;*/
	background: #93a5afa0;
	box-shadow: 0px 2px 5px #0005;
}

.game_gui_left .entries > .entry .bar {
	font-weight: bold;
	padding: 5px 0px;
	/*border-radius: 15px;*/
	/*animation: bar 2s ease-in-out alternate infinite;*/
	width: 0%;/*100%*/
	display: block;
	/*margin: auto;*//*centerize*/

	text-align: left;
	white-space: nowrap;
	
	transition: width 500ms ease-in-out;
}

.game_gui_left .entries > .entry .bar::before {
	content: " ";
	width: 15px;
    height: 1px;
    display: inline-block;
    float: left;
}

.game_gui_left .entries > .entry .bar.health {
	background: #8BC34A;
	animation-delay: 0.5s;
}

.game_gui_left .entries > .entry .bar.energy {
	background: #00BCD4;
	animation-delay: 1s;
}

.game_gui_left .entries > .entry .bar.speed {
	background: #f44336;
	animation-delay: 1.5s;
}

.game_gui_left .entries > .entry.gridded {
	display: grid;
	/*grid-template-areas:*/
		/*"label header header";*/
	padding: 0px 0px;
	text-align: left;
	overflow: hidden;
	grid-template-columns: fit-content(100%) auto;
}

.game_gui_left .entries > .entry.gridded > * {
	margin: 3px 5px;
}

.game_gui_left .entries > .entry.player_info {
	display: grid;
	grid-template-areas:
		"nick points kills"
		"nick preview deaths"
		"health health health"
		"energy energy energy";

	grid-template-columns: auto fit-content(100%) fit-content(100%);
	grid-template-rows: auto fit-content(100%) fit-content(100%) fit-content(100%);

	overflow: hidden;
}

.game_gui_left .entries > .entry.player_info > * {
	align-self: center;
	/*overflow: auto;*/
	font-size: 17px;
}

.game_gui_left .entries > .entry.player_info > .player_nick {
	grid-area: nick;
	/*justify-self: left;*/
	padding: 0px 10px;
	overflow: hidden;
}

.game_gui_left .entries > .entry.player_info > .player_points {
	grid-area: points;
	
	padding: 0px 10px;
	border-left: 1px solid #fff3;
	font-size: 15px;
	/*overflow: hidden;*/
}

.game_gui_left .entries > .entry.player_info > .player_ship {
	grid-area: preview;

	border-left: 1px solid #fff3;
	/*height: 100%;*/
	/*width: auto;*/
	
	padding: 0px 2px;
}

.game_gui_left .entries > .entry.player_info > .player_ship > canvas,
.game_gui_left .entries > .entry.player_info > .player_ship > img {/*player's ship preview*/
	height: 20px;
	width: auto;
	transform: rotate(270deg);
}

.game_gui_left .entries > .entry.player_info > .player_ship > .color_stain {
	height: 6px;
	width: 13px;
	vertical-align: middle;
	background-color: #fff;/*failsafe*/
}

.game_gui_left .entries > .entry.player_info > .player_kills {
	grid-area: kills;
}

.game_gui_left .entries > .entry.player_info > .player_kills::after, 
.game_gui_left .entries > .entry.player_info > .player_deaths::after {
	content: " ";
	display: inline-block;
	width: 20px;
	height: 20px;

	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;

	float: right;
}

.game_gui_left .entries > .entry.player_info > .player_kills::after {
	background-image: url('../img/icons/scope_icon.png');
}

.game_gui_left .entries > .entry.player_info > .player_deaths::after {
	background-image: url('../img/icons/skull_icon.png');
}

.game_gui_left .entries > .entry.player_info > .player_deaths {
	grid-area: deaths;
}

.game_gui_left .entries > .entry.player_info > .player_health,
.game_gui_left .entries > .entry.player_info > .player_energy {
	height: 4px;
	transition: width 500ms ease-in-out;
}

.game_gui_left .entries > .entry.player_info > .player_health {
	grid-area: health;
	background: #8BC34A;
}

.game_gui_left .entries > .entry.player_info > .player_energy {
	grid-area: energy;
	background: #4aadc3;
}

.game_gui_left .notifications > .notification {
	display: block;

	margin: 10px;

	border: 1px solid #fff4;
	border-radius: 5px;

	box-sizing: border-box;

	/*background: #93a5afa0;*/
	background: #32b1aba0;
	box-shadow: 0px 2px 5px #0005;

	
	text-align: left;
	/*height: 26px;*/
	height: auto;
	word-break: keep-all;
	padding: 3px 10px;

	/*transform: translate(0, -26px);*/
	animation: popup_notification 1s cubic-bezier(.36,.07,.19,.97);
}

.game_gui_left .notifications > .notification.fader {
	transform: translate(0, -26px);
	opacity: 0;
	
	animation: fade_notification 1s cubic-bezier(.36,.07,.19,.97);
}

@keyframes popup_notification {
	0% { margin-bottom: -26px; }
	100% { margin-bottom: 10px; }
}

@keyframes fade_notification {
	0% { 
		/*margin-top: 10px; */
		transform: translate(0, 0px);
		opacity: 1;
	}
	100% { 
		/*margin-top: -26px; */
		transform: translate(0, -26px);
		opacity: 0;
	}
}

/* SKILLS BAR */
.skills_bar, .emots_bar {
	display: inline-block;
	justify-self: center;

	position: relative;

	height: auto;
	border-radius: 50px;

	width: auto;
	background: red;
	padding: 8px 35px;
	padding-bottom: 0px;
	margin: 4px 0px;

	border: 1px solid #fff4;
   
    box-sizing: border-box;
    background: #93a5afa0;
    box-shadow: 0px 2px 5px #0005;
}

.emots_bar {
	background: transparent;
	border: none;
	box-shadow: none;
}

.skills_bar .skill_button {
	display: inline-block;
	height: auto;
	width: 50px;
	
	margin: 0px 3px;
}

.skills_bar .skill_button > .main_part {
	display: inline-block;
	height: 50px;
	width: 50px;

	pointer-events: all;
	cursor: pointer;
}

.skills_bar .skill_button > .main_part:not(.in_use):hover:before {
	border-color: #fff8;
}

.skills_bar .skill_button > .main_part:not(.in_use):active:before {
	border-color: #f888;
}

.skills_bar .skill_button > .main_part.in_use:before {
	background-color: #71d6b57a;
}


.skills_bar .skill_button > .main_part > *, .skills_bar .skill_button > .main_part:before {	
	display: inline-block;
	float: left;
	margin-right: -50px;
}

.skills_bar .skill_button > .main_part > img {
	height: 40px;
	width: auto;
	
	margin-left: 5px;
	margin-top: 5px;
}

.skills_bar .skill_button > .main_part > .cooldown {
	background-color: #6666;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: RobotoRegular;
    font-weight: bold;
    border-radius: 10px;
}

.skills_bar .skill_button > .main_part:before {
	content: " ";
	display: block;
	width: 50px;
	height: 50px;
	grid-area: center;

	box-sizing: border-box;

	border: 1px solid #0003;
    border-radius: 10px;
    background: #37474f40;
}

.skill_button > .key, .emoticon_button > .key {
    display: inline-block;
    padding: 2px 5px;
    margin: 0px;
    width: auto;
    background-color: #37474fcc;
    border-radius: 50px;
    font-size: 11px;
    line-height: 13px;
    
    font-weight: bold;
    font-family: RobotoRegular;
}

.emoticon_button > .key {
	background-color: #37474f80;
}

.emots_bar {
	overflow: hidden;
	max-height: 60px;
}

.emots_bar .emoticon_button {
	margin: 0px 3px;

	pointer-events: auto;

	transform: translate(0px, 0px) scale(1);
	transition: transform 0.5s cubic-bezier(.36,.07,.19,.97);
}

.emots_bar.hidden .emoticon_button {
	transform: translate(0px, 50px) scale(0);
}

.emots_bar .emoticon_button img {
	display: block;

	height: 30px;
	width: auto;
	margin: auto;

	cursor: pointer;

	transition: transform 0.25s cubic-bezier(.36,.07,.19,.97);
}

.emots_bar .emoticon_button:hover img {
	transform: scale(1.2);
}

.skills_bar .emot_bar_switcher {
    background: url(../img/icons/arrow.png) center no-repeat;
    background-size: cover;

    width: 20px;
    height: 20px;

    position: absolute;
    right: 8px;
    top: 0px;
    bottom: 0px;
    margin: auto;

    transform: rotate(180deg);
    opacity: 0.5;
    cursor: pointer;
    pointer-events: all;
}

.skills_bar .emot_bar_switcher.active {
	transform: rotate(0deg);
}

.skills_bar .emot_bar_switcher:hover {
	opacity: 1;
}