@import "normalize.css";
@import "loader.css";
@import "common.css";
@import "scrollbar.css";
@import url('https://fonts.googleapis.com/css?family=Asap');

@font-face {
	font-family: RobotoRegular;
	src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: RobotoThin;
	src: url('fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: RobotoLight;
	src: url('fonts/Roboto-Light.ttf');
}

* {
	font-size: 18px;
    font-family: Asap, RobotoRegular, Calibri, Helvetica;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;

    padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

html, body {
	background: #607D8B;
	color: #fff;

	outline: none;
    border: none;
    text-align: center;
}

/*dynamic, invoke {
	display: none;
}*/

button, input[type=submit] {
	padding: 10px;
	border-radius: 3px;
	
	color: #fff;
	/*background: rgb(244, 67, 54);*/
	background-color: #2196F3;
	border: none;
	border-bottom: 5px solid #1976D2;
	min-width: 120px;
	outline: none;
}

button:hover, input[type=submit]:hover {
	cursor: pointer;
	/*background: rgb(255, 87, 74);*/
	background-color: #42A5F5;
	border-color: #2196F3;
}
button:active, input[type=submit]:active {
	background-color: #64B5F6;
	border-color: #42A5F5;
}

table {
	display: table;

	border-collapse: collapse;
    border-spacing: 0;

    padding: 0px;
    margin: auto;
}

table tr {
	background-color: transparent;
}

table td, table th {
	padding: 10px;
}

table tr th {
	background-color: #546E7A;
	color: #fff;
}

table:not(.dark_evens) tr:nth-child(even) {
	background-color: #ffffff0a;
}

table.dark_evens tr:nth-child(even) {
	background-color: #40535d4c;
}



/*.md_tab {
	margin: 20px 20px;
	box-shadow: 0px 5px 15px #0008;
	flex-grow: 1;
	max-width: 50vw;
}*/

hr {
	margin: 20px 0px;
	border: none;
	height: 1px;
	background: #bbb;
}

/* ---------------------------------------- */

body {
	display: grid;
	grid-template-areas: "header" "main";
	grid-template-rows: fit-content(100%) auto;
	grid-template-columns: auto;
	justify-items: center;/*center or stretch*/
	align-items: center;
	height: 100vh;
	overflow: auto;
}

#topbar {
	grid-area: header;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	/*min-height: 50px;*/
	width: 100%;
	line-height: 50px;
	/*margin: auto;*/
	
	justify-content: space-between;
	align-content: center;
	/*align-items: stretch;*/

	background-color: #0005;
	box-shadow: 0px 0px 15px #0005;
}

#topbar * {
	/*height: 50px;*/
	/*background: none;*/
	text-decoration: none;
}

#topbar .links {
	flex-grow: 2;
	display: inline-table;
	flex-wrap: wrap;
}

.links a {
	/*background: #ffffff05;*/
	display: inline-block;
	margin: 0px;
	padding: 15px;
	line-height: 20px;
	box-sizing: border-box;
	height: 50px;
	min-width: 150px;
	/*max-width: 200px;*/
	flex-grow: 1;
	
	color: #fff;
	/*background-color: red;*/
}
.links a:not(:last-child) {
	border-right: 1px solid #fff2;
}
.links a:hover {
	background: #fff1;
}

.links a.current {
	/*background-color: red;*/
	border-bottom: 3px solid #9CCC65;
}

#topbar img {
	height: 50px;
	width: auto;
}

#topbar .topbar_side {
	/*width: 200px;*/
	width: 50px;
	display: inline-block;
	max-height: 50px;
}

main {
	grid-area: main;
}

.container {
	background: #fff;

	text-align: center;
	display: inline-block;
	width: auto;
	height: auto;
	/*margin-top: 50px;*/
	
	padding-bottom: 50px;
	box-shadow: 0px 5px 10px #0003;
	color: #555;
}

.container h1 {
	height: 50px;
	width: 100%;
	font-size: 18px;
  	margin: 0px;
	margin-bottom: 20px;
	padding: 0px 50px;
	line-height: 50px;
	background: #455A64;
	
	color: #fff;
}

.container h2 {
	padding: 20px 0px;
}

/*#last_games_preview {
	display: inline-grid;
	grid-template-columns: 550px 550px 550px;
	justify-items: center;
	
	align-items: baseline;
}

@media (max-width: 1800px) {
	#last_games_preview {
		grid-template-columns: 550px 550px;
	}
}

@media (max-width: 1120px) {
	#last_games_preview {
		grid-template-columns: auto;
	}
}

#last_games_preview > div {
	margin: 10px 0px;
	box-shadow: 0px 2px 8px #0008;
}

#last_games_preview table {
	width: 100%;
}*/

.prompt {
	display: block;
	width: 100%;
	margin: 10px 0px;
	padding: 0px 50px;
}
.prompt * {
	width: 50%;
	display: inline-block;
}
.prompt label {
	
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	
}
.prompt span {
	text-align: left;
}
.prompt input {
	padding: 5px;
}

.error_msg {
	color: #f44336;
	margin: 5px 20px;
}

.pages_control {

}

.pages_control > a {
	text-decoration: none;
	margin: 2px 4px;
	padding: 2px 7px;
	border-radius: 4px;
	color: #fff;
	background-color: #546e7a;
	border-bottom: 2px solid #475c66;
}

.pages_control > a.current {
	background-color: #009688;
	border-bottom: 2px solid #006b60;
}

.pages_control > a:not(.current):hover {
	background-color: #03A9F4;
	border-bottom: 2px solid #0284c0;
}
.pages_control > a:not(.current):active {
	background-color: #4FC3F7;
	border-bottom: 2px solid #0284c0;
}

.homepage {
	grid-area: main;
	align-self: stretch;

	display: grid;
	grid-template-areas: "news";
}

.homepage > article {
	grid-area: news;
	background-color: #0003;
}

.homepage > article h1 {
	padding: 20px 10px;
	margin: 0px;
	font-size: 25px;
	background-color: #26323820;
}

.homepage .news_entry {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #ffffff25;
}

.homepage .news_entry > h2 {
	background-color: #26323820;
	height: 40px;
	display: grid;
	grid-template-columns: 200px auto 200px;
	align-items: center;
}

.homepage .news_entry > h2 > span {/*time info*/
	text-align: left;
	padding-left: 20px;
}

.homepage .news_entry > h2 > label {
	font-weight: bold;
}

.homepage .news_entry > h2 > a {
	justify-self: right;
}

.homepage .news_entry > section {
	padding: 20px;
	text-align: left;
}