.popup_container {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99;

	margin: 0px;
	width: 100vw;
	height: 100vh;
	background: #607D8BA0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	animation: opacity_in 1s ease-in-out;
}

@keyframes opacity_in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.popup {
	display: inline-grid;
	grid-template-areas:
		"header header"
		"category category"
		"menu main"
		"panel panel";

	grid-template-columns: fit-content(100%) auto;
  	grid-template-rows: fit-content(100%) auto fit-content(100%);

  	/*border: 3px solid #546E7A;*/
	border-radius: 5px;

	color: #222;
	background: #fff;
	/*margin: 5%;*/
	/*padding: 30px;*/
	/*max-height: 90%;*/
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;

	box-shadow: 0px 3px 10px #0004;
}

.popup > * {
	/*padding: 10px 15px;*/
}

.popup > .header {
	grid-area: header;
	background: #546E7A;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
}

.popup > .category {
	grid-area: category;
	padding: 10px 5px;
	border-bottom: 1px solid #546E7A80;
}

.popup > .menu {
	grid-area: menu;
}

.popup > .menu > div {/*menu entry*/
	width: 100%;
	padding: 10px 15px;
	
	color: #555;
}

.popup > .menu > div.current {
	color: #f44336;
}

.popup > .menu > div:not(.current):hover {
	cursor: pointer;
	color: initial;
}

.popup > .menu > div:not(.current):active {
	/*color: #42A5F5;*/
	color: #2196F3;
}

.popup > .menu > div:not(:last-child) {
	border-bottom: 1px solid #546E7A80;
}

.popup > .panel {
	grid-area: panel;
	padding: 20px;
}

.popup > .main {
	grid-area: main;
	min-width: 300px;
	padding: 10px 15px;

	display: table;
}

.popup > .main > div {/*individual option entry*/
	display: block;
	width: 100%;
	text-align: left;
	height: 30px;

	display: table-row;
}

.popup > .main > div > label {
	display: table-cell;
	
	white-space: nowrap;
}

.popup > .main > div > :not(label) {
	display: table-cell;
}

.account_popup_main {
	text-align: center;
	padding: 10px 15px;
}

.account_popup_main .account_row {
	display: flex;
	flex-direction: row;
    white-space: nowrap;
	padding: 10px 0px;
	width: auto;
	text-align: left;
}

.account_popup_main .account_row > * {
	
}

.account_popup_main .exp_widget {
	width: 200px;
	height: auto;
	border: 1px solid #e57373;
	background-color: #8b606070;
	border-radius: 3px;
	box-shadow: 0px 2px 10px #0006;
	float: right;
	margin: 0px 15px;
}

.account_popup_main .exp_widget > div {
	background-color: #e57373;
	/*padding: 5px 0px;*/
	color: #fff;
	text-align: center;
}

/*.account_popup_main .coin_widget { DEPRECATED
	width: 20px;
	height: 20px;
	
	background-image: url('../img/icons/coin_color.png');
	background-size: contain;
	background-position: center;
	
	border-radius: 20px;

	box-shadow: inset 0px 0px 1px #0003, 0px 1px 6px #0008;

	margin: 0px 10px;
	transform: scale(1.75) rotateY(0deg);

   	
    user-select: none;
}

.account_popup_main .coin_widget:hover {
	animation: rotater 1750ms ease-in-out infinite both;
}*/

@keyframes rotater {
	0% {
		transform: perspective(1000px) scale(1.75) rotateY(0deg);
	}

	50% {
		transform: perspective(1000px) scale(1.75) rotateY(180deg);
	}

	100% {
		transform: perspective(1000px) scale(1.75) rotateY(360deg);
	}
}

/* LISTS */
.account_popup_main .ships_list, .account_popup_main .friends_list, .account_popup_main .skills_list {
	border-radius: 15px;
	margin: 15px 0px;
	box-shadow: 0px 1px 10px #0009;

	background-color: #607D8B80;

	/*border-top: 1px solid #0004;*/
	border-bottom: 1px solid #0004;
}

.account_popup_main .ships_list {
	min-width: 550px;
	max-height: 180px;
	/*background-color: #607D8B80;*/
	/*border-top: 1px solid #0005;
	border-bottom: 1px solid #0005;*/

	overflow-x: visible;
	overflow-y: auto;
}

.account_popup_main .ships_list > .ship_widget {
	display: inline-block;
	color: #fff;
	min-width: 150px;
	overflow: hidden;
	/*height: 130px;*/
	height: auto;
	margin: 10px 8px;
	box-sizing: border-box;
	background-color: #90A4AE;

	border: 1px solid #648290;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px #0003;
}

.account_popup_main .ships_list > .ship_widget.selected {
	border: 2px solid #4ac37a;
	background-color: #90aea3;
}

.account_popup_main .ships_list > .ship_widget.locked {
	border: 2px solid #969696;
	background-color: #aaa;
}

.account_popup_main .ships_list > .ship_widget > label {
	/*width: 100%;*/
	display: block;
	padding: 5px;
	white-space: nowrap;
	/*background-color: #607D8B;*/
	background-color: #0002;
}
.account_popup_main .ships_list > .ship_widget > .panel {/*panel with info or/and control buttons */
	/*background-color: #0002;*/
	padding: 5px 0px;
	height: 42px;
	line-height: 32px;
}

.account_popup_main .ships_list > .ship_widget > .preview {
	/*padding: 10px;*/
}

.account_popup_main .ships_list > .ship_widget > .preview > img,
.account_popup_main .ships_list > .ship_widget > .preview > canvas {
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	margin-bottom: 20px;/*~~ 50*sqrt(2) - 50*/
	margin-top: 10px;
}

/*locked ship preview*/
.account_popup_main .ships_list > .ship_widget.locked > .preview > img,
.account_popup_main .ships_list > .ship_widget.locked > .preview > canvas {
	opacity: 0.5;
	transform: none;
	background-image: url('../img/icons/lock.svg');
	background-size: contain;
	background-position: center;
	padding: 35px;
	margin: 5px;
}

.account_popup_main .friends_header {
	width: 100%;
	padding: 10px 0px;
	margin-top: 10px;
	background-color: #8398a5;
	color: #fff;
	font-size: 23px;
}

.account_popup_main .friends_list {
	max-width: 550px;
	max-height: 180px;
	
	/*border-top: 1px solid #0005;*/
	/*border-bottom: 1px solid #0005;*/

	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

    padding: 5px;
    /*margin-top: 0px;*/

	overflow-x: visible;
	overflow-y: auto;

	/*margin: 5px 0px;*/
}

.account_popup_main .friends_list > div {/*individual friend widget*/
	display: inline-block;

	border: 1px solid #fff8;

    border-radius: 8px;
    box-shadow: 0px 1px 4px #0005;
    background: #1a8ead;

    line-height: 14px;

    box-sizing: border-box;

    padding: 5px 5px;
    margin: 3px;

    color: #fff;
    font-size: 13px;
    user-select: none;
    white-space: nowrap;
}

.account_popup_main .friends_list > div.offline {
	background-color: #888;
	color: #ccc;
}

.account_popup_main .friends_list > div:not(.offline):hover {/*individual friend widget*/
	cursor: pointer;
	background: #3aaecd;
}

/*///////////////////////////////////*/

.account_popup_main .skills_list {
	padding: 5px;
	height: 116px;
	overflow-y: auto;
	overflow-x: hidden;
}

.account_popup_main .skills_list .skill_widget {
	display: inline-block;
	margin: 5px;
	height: 95px;
	/*padding: 5px 0px*/
	width: 70px;

	background-color: #90A4AE;
	border: 1px solid #648290;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px #0003;
}

.account_popup_main .skills_list .skill_widget > img {/*skill icon*/
	height: 70px;
	width: auto;
}

.account_popup_main .skills_list .skill_widget .panel {
	font-size: 15px;
	color: #fff;
}

.account_popup_main .skills_list .skill_widget button {
	height: 20px;
	margin: 0px;
	/*padding: 0px 3px;*/
	line-height: initial;
	width: 100%;
	font-size: 16px;
}

.account_popup_main .skills_list .skill_widget.selected {
   	border: 1px solid #4ac37a;
    background-color: #90aea3;
}

.account_popup_main .skills_list .skill_widget.locked {
   	border: 1px solid #969696;
    background-color: #aaa;
}

.account_popup_main .skills_list .skill_widget.locked::after {
	content: " ";
	display: block;
	/*width: 100%;*/
	height: 20px;
	background-image: url('../img/icons/lock.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.account_popup_main .skills_list .skill_widget.locked > img {
	opacity: 0.33;
}

.account_popup_main .skills_slots {
	/*background-color: red;*/
	display: block;
}

.account_popup_main .skills_slots > span {/*individual skill slot*/
	display: inline-grid;
	grid-template-areas: 
		"top top top"
		"left_btn preview right_btn"
		"throw throw throw";
	grid-template-columns: 15px 45px 15px;
	grid-template-rows: 15px 45px 15px;
	align-items: center;

	margin: 0px 5px;
	
	background-color: #90A4AE;
	box-shadow: 0px 1px 10px #000a;
	border: 1px solid #648290;
    border-radius: 5px;
    /*box-sizing: content-box;*/
}

.account_popup_main .skills_slots > span img {/*skill preview*/	
	height: 100%;
	width: auto;
	grid-area: preview;
}

.account_popup_main .skills_slots > span * {
	color: #fff;
	white-space: nowrap;
	font-size: 14px;
}

.account_popup_main .skills_slots > span button {
	background: transparent;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	display: inline-block;

	min-height: auto;
	min-width: auto;
	
	margin: 0px;
	padding: 0px;
	
	border: none;
	border-radius: 0px;
}

.account_popup_main .skills_slots > span button:hover {
	background-color: #fff3;
}