.rooms_list {
	display: inline-block;
	max-width: 50vw;
	height: 100%;
}

.rooms_list h1 {
	/*width: 100%;*/
	display: block;
	height: 50px;
	line-height: 30px;
	/*background: rgb(55, 71, 79);*/
	background-color: #0005;
	z-index: 2;
	margin: 0px;
	padding: 10px;
	font-size: inherit;
}

.rooms_list > .rooms_list_control_panel {
	background: #40535d;
	
	display: table;
	width: 100%;
	height: 50px;
  	padding: 0px 10px;
  	line-height: 45px;
  	text-align: center;
  	/*border-right: 2px solid #40535d;*/
}

.rooms_list > .rooms_list_control_panel > * {
	display: table-cell;
	margin: 0px 10px;
}

.rooms_list > div.list_container {/*entries list*/
	text-align: left;
	height: calc(100vh - 50px - 50px);
	/*height: auto;*/
	width: 100%;
	overflow-y: auto;
	background: rgb(85, 108, 120);
	border-right: 2px solid #40535d;
}

.rooms_list > div.list_container > div.html_list {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.rooms_list > div.list_container > div.html_list > div {/*individual row*/
	cursor: pointer;
	/*padding: 18px 15px;*/
	
	display: table-row;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #ffffff15;
}

.rooms_list > div.list_container > div.html_list > div.current_room {
	background-color: #02ffdc22;
}

/*.rooms_list > div.list_container > div.html_list > div:not(.current_room):nth-child(even) {
	background-color: #fff1;
}*/

.rooms_list > div.list_container > div.html_list > div:not(.current_room):hover {
	background-color: #aff3;
}

.rooms_list > div.list_container > div.html_list > div > span {
	display: table-cell;
	padding: 10px 8px;
	white-space: nowrap;
	
}