.room_view, .room_settings_view {
	/*height: calc(100vh - 50px);*/
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.room_view .no_room_info, .room_settings_view {
	margin: 30px;
	animation: no_room_informer infinite 10s cubic-bezier(.36,.07,.19,.97) both;
	animation-delay: 5s;/*10s*/
	overflow: hidden;
	transform: rotate(0deg);
	/*transform-style: preserve-3d;*/
	/*transform: perspective(300px) rotateY(0deg);*/
}

.room_view > .no_room_info {
	height: 200px;
   	display: inline-block;
    position: relative;
    user-select: none;
}

@keyframes no_room_informer {
	1%, 9% {
		transform: scale(0.95, 1);/*rotate(-2deg);*/
	}

	2%, 8% {
		transform: scale(1.1, 1);/*rotate(4deg);*/
	}

	3%, 5%, 7% {
		transform: scale(0.8, 1);/*rotate(-8deg);*/
	}

	4%, 6% {
		transform: scale(1.2, 1);/*rotate(8deg);*/
	}

	10% {
		transform: scale(1, 1);/*rotate(0deg);*/
	}
}

.room_view h1 {/*head label*/
	margin: 0px;
	
	font-size: 18px;
	line-height: 36px;
	display: block;
	height: auto;
	width: 100%;
	padding: 15px 10px;
	text-align: left;
	user-select: none;
}

.room_view h1 > span {/*room name*/
	margin: 0px 20px;
}

.room_view section {
	display: grid;
	grid-template-columns: fit-content(100%) auto;
  	grid-template-rows: fit-content(100%) auto;
  	justify-items: center;
  	align-items: start;
}

.room_view section > .sits_list, .room_view section > .users_list_container {
	display: inline-block;
	min-width: 200px;
	/*width: 200px;*/
	max-width: 300px;
	padding: 5px 15px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.room_view section > .users_list_container {
	padding: 8px 0px;
	/*background: #fff1;*/
	margin-left: 10px;
	overflow-x: hidden;
}

.room_view section > .sits_list {
	/*border-right: 1px solid #7f97a2;*/
}

.room_view section > .sits_list > div {/*individual sit*/
	background-color: #2688a6;
	box-shadow: 0px 3px 5px #0002;
	max-width: 170px;
	overflow: hidden;

	border: 1px solid #fff4;
	border-radius: 5px;

	height: 34px;
	padding: 6px 2px;
	margin: 5px 0px;
	color: #fff;
}

.room_view section > .sits_list > div.empty {/*empty sit*/
	color: #bbb;
	background: #fff2;
}

.room_view section > .sits_list > div.ready {/*ready sit*/
	background: #26A69A;
}

.room_view section > .sits_list > div.ready::after {
	height: 34px;
	width: 34px;
	float: right;
	margin: -7px -3px;/*anti padding*/
	margin-left: -34px;

	background-image: url('../img/icons/checked.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    opacity: 0.7;
	content: " ";
}

.settings_container {
	display: table;
	/*width: 100%;*/
	margin: auto;
	/*border-bottom: 1px solid #90a4ae;*/
}

.settings_container > div {
	display: table-row;
	text-align: left;
}

.settings_container > div > * {
	display: table-cell;
	text-align: initial;
}

.settings_container input[type="text"] {
	width: 200px;
}

.game_start_countdown_info {
	padding: 10px 20px;
	border-bottom: 1px solid #90a4ae;
	margin-bottom: 15px;

	background: linear-gradient(to right, transparent 33%, #8fc4 50%, transparent 66%);
	background-size: 300%;
	/*animation: grandient_slide 3s ease-in-out infinite;*/
}

.game_start_countdown_info.active {
	animation: grandient_slide 2s ease-in-out infinite;
}

@keyframes grandient_slide {
	0%/*, 25%*/ { background-position:0% 0%; }
    50%/*, 75%*/ { background-position:100% 0%; }
    100% { background-position:0% 0%; }
}

.maps_list {
	overflow-y: auto;
	overflow-x: visible;
	height: auto;
	max-height: 50vh;
	width: 100%;
	max-width: 600px;
	text-align: center;

	padding: 10px 0px;

	display: block;

	border-bottom: 1px solid #90a4ae;
	border-top: 1px solid #90a4ae;

	background: #0002;
}

.map_preview {
	display: inline-block;
	padding: 8px 10px;
	margin: 10px 10px;
	/*width: 150px;*/
	height: auto;

	background: #7f97a2;

    border: 2px solid #fff4;
    border-radius: 5px;

    box-sizing: border-box;
	box-shadow: 0px 3px 5px #0003;

	user-select: none;
}

.map_preview:not(.selected):not(.static_preview):hover {
	cursor: pointer;
	background: #95a8b2;
}

.map_preview.selected {
	/*#26A69A	*/
	border: 2px solid #8BC34A;
	/*background: #95a8b2;*/
	background: #6f9861;
	box-shadow: none;
}

.map_preview > label {
	/*height: 20px;*/
	display: block;
	padding: 0px 0px;
	margin-bottom: 8px;
	/*width: 100%;*/
	text-align: center;
	cursor: pointer;
}

.map_preview > img, .map_preview > canvas {
	height: 150px;
	display: block;
	border-radius: 5px;
	opacity: 0.66;
}

/* SETTINGS INFO PANEL */

.room_view .settings_info {/*middle horizontal panel with game settings info*/
	width: 100%;
	text-align: left;
	border: 1px solid #90A4AE;
	border-left: none;
	border-right: none;
	padding: 10px 20px;
	/*margin: 15px 0px;*/
	/*margin-top: 0px;*/
	margin: 0px;
	user-select: none;

	display: grid;
	grid-template-areas: 
		"map gamemode"
		"map time";
	grid-template-columns: fit-content(100%) auto;
    justify-items: center;
    align-items: center;
}

.settings_info .map_preview_info {
	grid-area: map;
}

.settings_info .clock_chart {
	grid-area: time;

	display: inline-block;
	box-shadow: 0px 3px 5px #0003;
	user-select: none;
	border-radius: 100%;
}

.settings_info .clock_chart svg {
	transform: rotate(-90deg);
	background: #7f97a2;
	border-radius: 50%;
	border: 1px solid #fff5;
}

.settings_info .clock_chart circle:not(.centered) {
	fill: #7f97a2;
	stroke: #fff5;/*#ef5350;*/
	stroke-width: 50;/*50*/
	stroke-dasharray: 0 158; /* 2π × 25 ≈ 158 */
	/*39.5*/
	/*animation: fillup 5s linear infinite;*/
	/*transition: stroke-dasharray 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);*/
}

.settings_info .clock_chart circle.centered {
	fill: #7f97a2;
	stroke: #fff5;
	stroke-width: 1;
}

.settings_info .clock_chart text {
	transform: rotate(90deg);
	transform-origin: 50% 50%;
	color: #fff;
	fill: #fff;
}

.settings_info .game_mode_info {
	grid-area: gamemode;
	user-select: all;
}