.rooms_list {
	display: inline-block;
	max-width: 50vw;
	height: 100%;
}

.rooms_list h1 {
	/*width: 100%;*/
	display: block;
	height: 50px;
	line-height: 30px;
	/*background: rgb(55, 71, 79);*/
	/*background-color: #0005;*/
	background-color: #133b4054;
	z-index: 2;
	margin: 0px;
	padding: 10px;
	font-size: inherit;
}

.rooms_list > .rooms_list_control_panel {
	/*background: #40535d;*/
	background: #133b4054;
	
	display: table;
	width: 100%;
	height: 50px;
  	padding: 0px 10px;
  	line-height: 45px;
  	text-align: center;
  	border-right: 2px solid #0002;
}

.rooms_list > .rooms_list_control_panel > * {
	display: table-cell;
	margin: 0px 10px;
}

.rooms_list > div.list_container {/*entries list*/
	text-align: left;
	height: calc(100vh - 50px - 50px);
	/*height: auto;*/
	width: 100%;
	overflow-y: auto;
	/*background: rgb(85, 108, 120);*/
	background: #133b4054;
	border-right: 2px solid #0002;
	/*#40535d;*/
}

.rooms_list > div.list_container > div.html_list {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.rooms_list > div.list_container > div.html_list > div {/*individual row*/
	cursor: pointer;
	/*padding: 18px 15px;*/
	
	display: table-row;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #ffffff15;
}

.rooms_list > div.list_container > div.html_list > div.current_room {
	background-color: #02ffdc22;
}

/*.rooms_list > div.list_container > div.html_list > div:not(.current_room):nth-child(even) {
	background-color: #fff1;
}*/

.rooms_list > div.list_container > div.html_list > div:not(.current_room):hover {
	background-color: #aff3;
}

.rooms_list > div.list_container > div.html_list > div > span {
	display: table-cell;
	padding: 10px 8px;
	white-space: nowrap;
}

.rooms_list_switcher {
	/*background: yellow;*/
	width: 50px;
	height: 50px;
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
}

.rooms_list_switcher::after {
	content: " ";
	display: block;
    background: url(../img/icons/arrow.png) center no-repeat;
   	background-color: #26A69A;
   	background-size: 60%;
    transform: rotate(90deg);
    user-select: none;
    cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 50px;
	box-shadow: 0px 0px 4px #0005;
}

.rooms_list_switcher:hover::after {
	background-color: #4DB6AC;
}

.rooms_list_switcher.hidden {
	transform: rotate(180deg);
}