.spinner {
	$size: 40px;
	
	width: $size;
	height: $size;
	
	margin: ($size/2) auto;

	&.absolute {
		position: absolute;
		z-index: 1;
		left: 0px;
		right: 0px;
	}
	&:not(.absolute) {
		position: relative;
	}
	
	.double-bounce1, .double-bounce2 {
		width: $size;
		height: $size;
		border-radius: 50%;
		opacity: 0.7;
		position: absolute;
		top: 0;
		left: 0;
		
		animation: sk-bounce 2.0s infinite ease-in-out;
	}
	
	.double-bounce2 {
		animation-delay: -1.0s;
	}
	
	@keyframes sk-bounce {
		0%, 100% {
			transform: scale(0.0);
		}
		50% {
			transform: scale(1.0);
		}
	}
}