@import '../global.scss';

.notifications-indicator {
	//cubic-bezier(.36,.07,.19,.97)
	//cubic-bezier(.87,-.41,.19,1.44)
	display: inline-block;
	$size: 20px;
	
	width: $size;
	height: $size;
	margin: auto;
	
	position: relative;
	z-index: 50;
	
	& > * {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
	}
	
	& > .indicator {//iconic, animated dot
		box-shadow: 0px 1px 3px #0004 !important;
		padding: 0px;
		
		width: $size;
		height: $size;
		border-radius: $size;
		
		background-color: #FF8A65;
		
		@keyframes bounce-in {
			0%  {transform: scale(0)}
			100%{transform: scale(1)}
		}
		
		animation: bounce-in 0.7s cubic-bezier(.87,-.41,.19,1.44);
		transition: transform 0.3s cubic-bezier(.36,.07,.19,.97), background-color 0.3s cubic-bezier(.36,.07,.19,.97);
		
		&:hover {
			transform: scale(1.2);
			background-color: #FFAB91;
		}
		
		&::before, &::after {
			content: "";
			display: inline-block;
			width: $size;
			height: $size;
			
			position: absolute;
			left: 0px;
			top: 0px;
		}
		
		&::before { //inner dot
			border-radius: $size;
			background-color: #fff4;
			transform: scale(0.61);
			
			@keyframes indicate {
				0%  {transform: scale(0.61)}
				3.3%{transform: scale(0.30)}
				6.6%{transform: scale(0.90)}
				10% {transform: scale(0.61)}
				
				100%{transform: scale(0.61)}
			}
			
			animation: indicate 20s ease-in-out infinite;
			
			opacity: 0;
			transition: opacity 0.5s cubic-bezier(.36,.07,.19,.97);
		}
		
		&:not(.opened)::before {
			opacity: 1;
		}
		
		&::after {//close icon (shown only when notification list is open)
			background: url('../../img/icons/close.svg') center no-repeat;
			background-size: 61%;
			
			/*@keyframes pop-in-scale {
				0% {
					transform: scale(0);
				}
				100% {
					transform: scale(1);
				}
			}
			
			animation: pop-in-scale 0.5s cubic-bezier(.36,.07,.19,.97);*/
			opacity: 0;
			transform: scale(0.25);
			transition: opacity 0.5s cubic-bezier(.36,.07,.19,.97), transform 0.5s cubic-bezier(.36,.07,.19,.97);
		}
		
		&.opened::after {
			transform: scale(1);
			opacity: 1;
		}
	}
	
	& > .side-notification {
		left: $size + 5px;//some offset
		display: inline-block;
		//align-items: center;
		//grid-template-columns: auto fit-content(100%);
		height: $size - 2px;
		line-height: $size - 2px;
		width: fit-content;
		white-space: nowrap;
		padding: 0px 5px 0px 10px;
		border-radius: $size;
		font-weight: bold;
		background-color: #FF8A65;//nth($palette, 6);
		box-shadow: 0px 1px 4px #0006;
		border: 1px solid #FFAB91;
		cursor: pointer;
		
		& > * {
			display: inline-block;
			height: $size;
		}
		
		&:hover {
			background-color: #FFAB91;
		}
		
		@keyframes pop-from-left {
			0%  {
				transform: translateX(-50%) scaleX(0);
				opacity: 0;
			}
			100%{
				transform: translateX(0%) scaleX(1);
				opacity: 1;
			}
		}
		
		@keyframes fade-out {
			0%  {opacity: 1}
			100%{opacity: 0}
		}
		
		opacity: 0;
		animation: pop-from-left 0.61s 0.7s cubic-bezier(.87,-.41,.19,1.44) forwards,
			fade-out 1s 4.0s cubic-bezier(.87,-.41,.19,1.44) forwards;
	}
	
	& > .list {
		top: $size * 2;
		left: $size/2;
		background-color: nth($palette, 5);
		border: 1px solid #a9c2c0;
		border-radius: 5px;
		min-width: 200px;
		max-width: 400px;
		height: max-content;
		transform: translate(-50%, 0%) scale(1);
		box-shadow: 0px 1px 4px #0004;
		
		&::before {//up triangle
			content: "";
			display: inline-block;
			position: absolute;
			pointer-events: none;
			top: -$size;
			left: 0px;
			right: 0px;
			margin: auto;
			width: 0px;//$size;
			height: 0px;//$size;
			padding: 0px;
			
			background-color: transparent;
			
			border-left: $size/2 solid transparent;
            border-right: $size/2 solid transparent;
  
            border-bottom: $size solid #a9c2c0;
		}
		
		@keyframes pop-from-top {
			0% {
				opacity: 0;
				transform: translate(-50%, -50%) scaleY(0);
			}
			100% {
				opacity: 1;
				transform: translate(-50%, 0%) scaleY(1);
			}
		}
		
		animation: pop-from-top 0.61s cubic-bezier(.36,.07,.19,.97);
		
		& > * {
			padding-left: 5px;
			height: $size;
			&:not(:last-child) {
				border-bottom: 1px solid #fff2;
			}
			
			display: grid;
			grid-template-columns: auto $size;
			align-items: center;
			cursor: pointer;
			
			&:hover {
				background-color: #fff3;
			}
			
			& > .content {
				text-align: left;
			}
		}
	}
	
	//common
	.closer {
		background-image: url('../../img/icons/close.svg');
		padding: 0px !important;
		margin: 0px !important;
		vertical-align: top;
		box-shadow: none !important;
		height: $size - 2px;
		width: $size - 2px;
		border-radius: 0px;
		background-color: transparent;
		background-size: 80%;
		opacity: 0.61;
		
		transition: transform 0.3s ease-in-out;
		
		&:hover {
			opacity: 1;
			transform: scale(1.25);
		}
	}
}