.pages_controller {
	padding: 3px;

	border-top: 1px solid #BCC8CD;

	$size: 25px;
	
	& > * {
		font-weight: bold;
		color: #455a64;
		height: $size;
	}

	& > button {//single button block
		outline: none;
		min-width: $size;
		line-height: normal;
		margin: 0px 3px;
		box-shadow: 0px 1px 3px #0008;
		border: 1px solid #B0BEC5;
		border-radius: 3px;

		&.current {
			border-color: #e57373;
			cursor: auto;
			&:hover {
				color: inherit;
				box-shadow: 0px 1px 3px #0008;
			}
		}

		&:not(.current) {
			cursor: pointer;
		}
	}
}